/* ==========================================================================
   #404
   ========================================================================== */

.c-404__title {
  font-size: 80px;
  margin-bottom: 0;
  margin-top: -0.1em;
}

.c-404__text {
  line-height: (26/16);
}

@include bp-down(medium) {
  .c-404__text {
    font-size: 16px;
  }
}

@include bp-between(medium, large) {
  .c-404__text {
    font-size: 22px;
  }
}

@include bp(medium) {
  .c-404__title {
    font-size: 160px;
  }
}

@include bp-down(large) {
  .c-404 {
    background-color: $color-beige-lighter;
  }
}
