/* ==========================================================================
   #CONTACT
   ========================================================================== */

.c-contact__title {
  margin-bottom: 20px;
}

.c-contact__input {
  border: 1px solid rgba(#979797, 0.25);
  min-height: 40px;
  margin-bottom: 16px;
  padding: 8px;
  display: block;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.c-contact__input--textarea {
  height: 5 * (1.4) + em;
  line-height: 1.4;
}

.c-contact__submit {
  width: 258px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35px;
}

.c-contact__form-wrapper {
  margin-bottom: 25px;
  width: 100%;
}

.c-contact__content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: (24/14);
}

.c-contact__content strong {
  color: $color-green;
}

.c-contact__social {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.c-contact__social-link {
  padding: 5px;
  display: block;
  line-height: 1;
}

.c-contact__social-icon {
  display: block;
}

.c-contact .wpcf7-not-valid-tip {
  transform: translateY(-12px);
}

.c-contact .wpcf7-response-output {
  margin-top: 15px;
  margin-bottom: 40px;
}

.c-contact__columns {
  max-width: 422px;
  margin-left: auto;
  margin-right: auto;
}

@include bp(medium) {
  .c-contact__columns {
    max-width: none;
    display: flex;
    justify-content: center;
    padding-left: 50px;
  }

  .c-contact__form-wrapper {
    width: 337px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: auto;
    margin-bottom: 0;
  }

  .c-contact__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 20px;
  }

  .c-contact__content {
    width: 175px;
    margin-left: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 15px;
  }
}

@include bp(760px) {
  .c-contact__columns {
    padding-left: 195px;
  }

  .c-contact__input {
    font-size: 17px;
  }
}

@include bp(large) {
  .c-contact__title {
    margin-bottom: 60px;
  }

  .c-contact__form-wrapper {
    width: 447px;
  }

  .c-contact__input {
    margin-bottom: 22px;
  }

  .c-contact .wpcf7-not-valid-tip {
    transform: translateY(-15px);
  }

  .c-contact__input--textarea {
    height: 11 * (1.4) + em;
  }

  .c-contact__submit {
    margin-top: 60px;
  }

  .c-contact__content {
    font-size: 17px;
    width: 200px;
    margin-left: 40px;
  }

  .c-contact__columns {
    padding-left: 240px;
  }

  .c-contact__social-icon {
    width: 32px;
    height: 32px;
  }
}
