/* ==========================================================================
   #COVER
   ========================================================================== */

.c-cover {
  background-color: $color-gray;
  position: relative;
}

.c-cover:not(.is-style-text) {
  color: $color-white;
}

.c-cover.is-style-text {
  background-color: transparent;
  min-height: #{(733 / 768 * 100)}vw;
}

.c-cover__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-cover__inner {
  position: relative;
}

.c-cover.is-style-text .c-cover__inner {
  padding-bottom: 65px;
}

.c-cover__embed {
  position: relative;
  box-shadow: 0 0 17px rgba(#000, 0.42);
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.c-cover__embed:before {
  content: '';
  display: block;
  padding-top: 9/16 * 100%;
}

.c-cover__embed > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-cover__icon {
  width: 62px;
  height: 62px;
  display: block;
  margin: 0 auto 12px;
}

.c-cover__title {
  margin-bottom: 20px;
}

.c-cover.is-style-video .c-cover__title {
  margin-bottom: 35px;
}

.c-cover.is-style-text .c-cover__title {
  color: $color-green;
  margin-bottom: 15px;
}

.c-cover.is-style-quote .c-cover__title {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.c-cover__text {
  margin: 0 auto 45px;
  line-height: (40/26);
}

.c-cover.is-style-default .c-cover__text {
  max-width: 740px;
  width: 80%;
}

.c-cover.is-style-text .c-cover__text {
  max-width: 612px;
  margin-bottom: 28px;
}

.c-cover__cta {
  min-width: 188px;
}

@include bp-down(medium) {
  .c-cover.is-style-quote .c-cover__title {
    font-size: 22px;
    line-height: (35/22);
  }
}

@include bp(medium) {
  .c-cover.is-style-quote {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .c-cover.is-style-video .c-cover__title {
    margin-bottom: 50px;
  }

  .c-cover.is-style-quote .c-cover__title {
    margin-bottom: 60px;
  }

  .c-cover__icon {
    width: 143px;
    height: 143px;
    margin-bottom: 38px;
  }

  .c-cover__text {
    margin-bottom: 60px;
  }

  .c-cover.is-style-default {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .c-cover.is-style-text .c-cover__text {
    margin-bottom: 35px;
  }

  .c-cover.is-style-quote .c-cover__text {
    font-size: 24px;
    line-height: (32/24);
  }

  .c-cover.is-style-text {
    min-height: 733px;
  }
}

@include bp-down(large) {
  .c-cover.is-style-default .c-cover__text br {
    display: none;
  }
}

@include bp(large) {
  .c-cover.is-style-text .c-cover__text {
    max-width: 740px;
  }

  .c-cover.is-style-quote .c-cover__title {
    margin-bottom: 35px;
  }

  .c-cover.is-style-quote {
    padding-top: 200px;
    padding-bottom: 180px;
  }
}

@include bp(xlarge) {
  .c-cover.is-style-video .c-cover__title {
    margin-bottom: 90px;
  }
}
