/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer__inner {
  background-color: $color-green-light;
  padding-top: 30px;
  padding-bottom: 50px;
}

.c-footer__logo-icon {
  width: 63px;
  height: 58px;
}

.c-footer__logo {
  display: inline-block;
  margin-bottom: 30px;
  flex-shrink: 0;
}

.c-footer strong,
.c-footer__subtitle {
  font-family: $font-serif;
}

.c-footer__subtitle {
  margin-bottom: 1em;
  width: 100%;
}

.c-footer__columns {
  display: flex;
  align-items: flex-start;
  margin-top: -30px;
}

.c-footer__column {
  width: 50%;
  margin-top: 30px;
}

.c-footer__links {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.c-footer__link {
  margin-bottom: 0.9em;
  width: 50%;
}

.c-footer__social-links {
  display: flex;
  flex-wrap: wrap;
  width: 2px * (24 + 15);
}

.c-footer__social-link {
  font-size: 24px;
  margin-right: 15px;
  margin-bottom: 10px;

  @include link-active-hover-click {
    .c-footer__social-icon {
      filter: brightness(1.1) sepia(1) saturate(3);
      transition-duration: $transition-fast-in;
    }
  }
}

.c-footer__social-icon {
  width: 1em;
  height: 1em;
  display: block;
  transition: filter $transition-fast-out ease;
}

.c-footer__copyright {
  font-size: 13px;
  padding-top: 2em;
  padding-bottom: 2em;
  color: lighten($color-black, 50%);
  letter-spacing: 0.008em;
}

@include bp-down(medium) {
  .c-footer strong,
  .c-footer__subtitle {
    font-size: 13px;
  }
}

@include bp(medium) {
  .c-footer__subtitle {
    font-size: inherit;
  }

  .c-footer__inner {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .c-footer__copyright {
    font-size: 15px;
    letter-spacing: 0.062em;
  }

  .c-footer__logo {
    margin-right: auto;
  }

  .c-footer__logo-icon {
    width: 100px;
    height: 90px;
  }

  .c-footer__addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: stretch;
  }

  .c-footer__column,
  .c-footer__address {
    width: calc(50% - 20px);
  }

  .c-footer__columns {
    justify-content: space-between;
  }

  .c-footer__address:not(:nth-last-child(-n + 2)) {
    padding-bottom: 16px;
  }

  .c-footer__address:not(:nth-last-child(-n + 2)):after {
    display: block;
    content: '';
    width: 23px;
    border-bottom: 1px solid #979797;
    margin-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .c-footer__address {
    margin-bottom: 15px;
    position: relative;
  }
}

@include bp-between(medium, large) {
  .c-footer__links {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-footer__link {
    width: calc(50% - 10px);
  }

  .c-footer__columns,
  .c-footer__addresses {
    width: calc(100% - 180px);
  }

  .c-footer__social-links {
    width: 3px * (24 + 15);
  }
}

@include bp(large) {
  .c-footer__copyright {
    font-size: 17px;
  }

  .c-footer__inner {
    flex-wrap: nowrap;
  }

  .c-footer__addresses,
  .c-footer__columns,
  .c-footer__logo {
    margin-bottom: 0;
  }

  .c-footer__logo {
    margin-right: auto;
  }

  .c-footer__social-links {
    width: 2px * 35 + 15px;
  }

  .c-footer__social-link {
    font-size: 35px;
  }

  .c-footer__social-link:nth-child(even) {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .c-footer__column {
    width: auto;
    min-width: 85px;
  }

  .c-footer__columns {
    width: #{(2 * 85px + 100px) / $wrapper-width * 100%};
    justify-content: space-between;
    margin-left: #{100px / $wrapper-width * 100%};
  }

  .c-footer__addresses {
    justify-content: space-between;
    width: #{(180 + 100 + 125) / ($wrapper-width / 1px) * 100%};
    margin-left: #{100px / $wrapper-width * 100%};
    min-width: 360px;
  }

  .c-footer__address {
    margin-left: 0;
  }

  .c-footer__address:nth-child(odd) {
    width: #{180 / (180 + 100 + 125) * 100%};
  }

  .c-footer__address:nth-child(even) {
    width: #{125 / (180 + 100 + 125) * 100%};
  }

  .c-footer__link {
    width: auto;
  }
}
