/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  background-color: $color-beige-lighter;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height-small;
  display: flex;
  align-items: stretch;

  @include css-var {
    top: var(--admin-bar-height);
  }
}

.c-header__inner {
  display: flex;
  align-items: center;
}

.c-header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.c-header__logo-icon {
  height: 46px;
  width: 77 / 67 * 46 + px;
}

.c-header__hamburger {
  position: relative;
  z-index: 2;

  @include link-active-hover {
    color: $color-green;
  }
}

.c-header__button {
  margin-right: 38px;
}

@include bp-down(xlarge) {
  .c-header__menu {
    background-color: $color-green;
    color: $color-white;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-width: 455px;
    width: 100%;
    text-transform: uppercase;
    overflow-x: hidden;
    transition: transform $transition-slow-out ease;
    transform: translateX(100%);

    @include css-var {
      height: calc(100vh - var(--admin-bar-height));
    }
  }

  .c-header__menu:focus-within {
    transform: none;
    transition-duration: $transition-slow-in;
  }

  .c-header__menu.is-active {
    transform: none;
    transition-duration: $transition-slow-in;
  }
}

@include bp(medium) {
  .c-header__logo-icon {
    height: 54px;
    width: 77 / 67 * 54 + px;
  }
}

@include bp(large) {
  .c-header {
    height: $header-height-large;
  }

  .c-header__logo-text {
    font-size: 21px;
    letter-spacing: 0.025em;
    line-height: 1;
  }

  .c-header__logo-icon {
    height: 67px;
    width: 77px;
    margin-right: 5px;
  }
}

@include bp(xlarge) {
  .c-header__menu {
    display: flex;
    align-items: stretch;
    align-self: stretch;
  }
}
