/* ==========================================================================
   #HEADLINE
   ========================================================================== */

.c-headline__title {
  margin-bottom: 7px;
}

.c-headline__subtitle {
  line-height: (26/18);
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

@include bp(medium) {
  .c-headline__title {
    margin-bottom: 30px;
  }
}
