/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  @include min-height-100vh(true, 65px);
  position: relative;
  background-color: $color-black;
}

.c-hero__inner {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
}

.c-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-hero__underlined {
  position: relative;
}

.c-hero__underlined span {
  background: linear-gradient(to right, $color-yellow, $color-yellow) repeat-x bottom left;
  background-size: auto 7px;
  padding-bottom: 12px;
}

.c-hero__underlined > * {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform $transition-slow-out ease, opacity $transition-slow-out ease, visibility $transition-slow-out ease;
  transform: translateY(1em);
  opacity: 0;
  visibility: hidden;
}

.c-hero__underlined > .is-active,
.c-hero:not(.is-initialized) .c-hero__underlined > *:first-child {
  position: relative;
  transition-delay: $transition-slow-in, $transition-slow-in, $transition-slow-in;
  transform: none;
  opacity: 1;
  visibility: visible;
}

@include bp(medium) {
  .c-hero__inner {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .c-hero__underlined span {
    background-size: auto 9px;
    padding-bottom: 15px;
  }
}

@include bp(xlarge) {
  .c-hero__inner {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (min-height: 900px) {
  .c-hero {
    min-height: 815px;
  }
}
