/* ==========================================================================
   #ICONS
   ========================================================================== */

.c-icons.is-style-default {
  background-color: $color-beige-lighter;
}

.c-icons__image {
  width: 94px;
  height: 45px;
  display: block;
  margin: 0 auto 5px;
}

.c-icons__title {
  margin: 0 auto 16px;
  max-width: 740px;
}

.c-icons.is-style-icons .c-icons__title {
  margin-bottom: 45px;
}

.c-icons__text {
  margin: 0 auto 45px;
  max-width: 740px;
  line-height: (22/14);
}

.c-icons__item-image {
  margin: 0 auto 15px;
  display: block;
}

.c-icons.is-style-default .c-icons__item-image {
  width: 74px;
  height: 74px;
}

.c-icons.is-style-icons .c-icons__item-image {
  width: 130px;
  height: 130px;
  margin-bottom: 5px;
}

.c-icons__item-title {
  margin-bottom: 0;
}

.c-icons__items.c-icons__items > * {
  margin: 0 auto 30px;
  max-width: 470px;
}

.c-icons__items {
  margin: 0 auto 50px;
}

.c-icons.is-style-icons .c-icons__item-text {
  font-size: 16px;
  font-weight: 700;
}

@include bp-down(medium) {
  .c-icons:not(.is-initialized) .c-icons__items > .c-icons__item:nth-child(n + 6) {
    display: none;
  }

  .c-icons.is-initialized .c-icons__show-all {
    display: none;
  }
}

@include bp(medium) {
  .c-icons.is-style-default .c-icons__item-image {
    width: 96px;
    height: 96px;
    margin-bottom: 20px;
  }

  .c-icons.is-style-icons .c-icons__item-image {
    width: 216px;
    height: 216px;
    margin-bottom: 10px;
  }

  .c-icons__item-text {
    font-size: 18px;
  }

  .c-icons__item-title {
    margin-bottom: 13px;
  }

  .c-icons__image {
    width: 153px;
    height: 78px;
    margin-bottom: 20px;
  }

  .c-icons__title {
    margin-bottom: 20px;
  }

  .c-icons__items.c-icons__items > * {
    margin-bottom: 40px;
  }

  .c-icons__items {
    margin-bottom: 90px;
  }
}

@include bp-between(medium, large) {
  .c-icons.is-style-icons .c-icons__items > *:empty {
    display: none;
  }

  .c-icons.is-style-icons .c-icons__items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: -55px;
    margin-right: -55px;
  }

  .c-icons.is-style-icons .c-icons__items.c-icons__items > * {
    width: calc(50% - 110px);
    margin-left: 55px;
    margin-right: 55px;
  }
}

@include bp(large) {
  .c-icons__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  $max-width-default: 3px * (257 + 90);

  .c-icons.is-style-default .c-icons__items {
    max-width: $max-width-default;
  }

  .c-icons__items.c-icons__items > * {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .c-icons.is-style-default .c-icons__items.c-icons__items > * {
    width: calc(33.333% - #{90px / $max-width-default * 100%});
    margin: 0 #{45px / $max-width-default * 100%} 45px;
  }

  .c-icons.is-style-default .c-icons__items > *:nth-child(2) {
    padding-top: 115px;
  }

  .c-icons.is-style-default .c-icons__items > *:nth-child(3n + 5) {
    padding-top: 65px;
  }

  .c-icons.is-style-default .c-icons__items > *:nth-child(3n + 6),
  .c-icons.is-style-default .c-icons__items > *:nth-child(3n + 4) {
    margin-top: -50px;
  }

  $max-width-default: 3px * (272 + 90);

  .c-icons.is-style-icons .c-icons__items {
    max-width: $max-width-default;
  }

  .c-icons.is-style-icons .c-icons__items.c-icons__items > * {
    width: calc(33.333% - #{90px / $max-width-default * 100%});
    margin: 0 #{45px / $max-width-default * 100%};
  }

  .c-icons.is-style-icons .c-icons__items > *:nth-child(2) {
    padding-top: 194px;
  }

  .c-icons.is-style-icons .c-icons__items > *:nth-child(3n + 5) {
    padding-top: 128px;
  }

  .c-icons.is-style-icons .c-icons__items > *:nth-child(3n + 6),
  .c-icons.is-style-icons .c-icons__items > *:nth-child(3n + 4) {
    margin-top: -60px;
  }
}
