/* ==========================================================================
   #ICON TILES
   ========================================================================== */

.c-icon-tiles__title {
  margin-bottom: 40px;
}

.c-icon-tiles__image {
  display: block;
  margin: 0 auto 16px;
  width: 75px;
  height: 75px;
}

.c-icon-tiles__item-title {
  margin-bottom: (10/18) + em;
}

.c-icon-tiles__text {
  line-height: (22/14);
}

.c-icon-tiles__items.c-icon-tiles__items > * {
  margin-bottom: 30px;
}

@include bp(medium) {
  .c-icon-tiles__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-icon-tiles__items.c-icon-tiles__items > * {
    margin-bottom: 70px;
    width: calc(50% - 30px);
  }

  .c-icon-tiles__image {
    width: 96px;
    height: 96px;
  }

  .c-icon-tiles__title {
    margin-bottom: 1em;
  }
}

@include bp(large) {
  .c-icon-tiles__title {
    margin-bottom: 1.4em;
  }

  .c-icon-tiles__items {
    justify-content: center;
    margin-left: -40px;
    margin-right: -40px;
  }

  .c-icon-tiles__items.c-icon-tiles__items > * {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(25% - 40px);
  }

  .c-icon-tiles__image {
    margin-bottom: 1.5em;
  }
}

@include bp(xlarge) {
  .c-icon-tiles__items {
    margin-left: -45px;
    margin-right: -45px;
  }

  .c-icon-tiles__items.c-icon-tiles__items > * {
    margin-left: 45px;
    margin-right: 45px;
    width: calc(25% - 90px);
  }
}

