/* ==========================================================================
   #JOBS
   ========================================================================== */

.c-jobs__title {
  margin-bottom: 35px;
}

.c-jobs__region {
  margin-bottom: 17px;
}

.c-jobs__region-header {
  background-color: #fbd906;
  display: flex;
  align-items: stretch;
}

.c-jobs__region-title {
  padding: 8px 9px 6px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.136em;
}

.c-jobs__region-button {
  background-color: #78b586;
  padding: 6px 9px 6px 20px;
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: background-color $transition-fast-in ease;

  @include link-active-hover {
    background-color: $color-green;
  }
}

.c-jobs__item-title {
  margin-bottom: 0;
  width: 100%;
  line-height: (26/18);
}

.c-jobs__item {
  padding: 23px 7px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-gray-lighter;
}

.c-jobs__region.has-more .c-jobs__item:nth-child(5),
.c-jobs__item:last-child {
  border-bottom: none;
}

.c-jobs__item-type,
.c-jobs__item-location {
  color: $color-gray-lighter;
  font-size: 14px;
}

.c-jobs__item-type {
  letter-spacing: 0.036em;
}

.c-jobs__item-location {
  margin-left: auto;
}

.c-jobs__region.has-more .c-jobs__items > *:nth-child(n + 6) {
  display: none;
}

.c-jobs__region:not(.has-more) .c-jobs__region-button--more {
  display: none;
}

@include bp-down(medium) {
  .c-jobs__region-title {
    font-size: 14px;
  }
}

@include bp(medium) {
  .c-jobs__item-title {
    font-size: 26px;
  }

  .c-jobs__region-title {
    padding: 10px 15px 7px;
    font-size: 18px;
  }

  .c-jobs__region-button {
    padding: 7px 15px 7px 30px;
  }

  .c-jobs__item {
    padding: 22px 12px;
  }

  .c-jobs__region {
    margin-bottom: 20px;
  }

  .c-jobs__title {
    margin-bottom: 65px;
  }
}

@include bp(large) {
  .c-jobs__regions {
    columns: 2;
    column-gap: 35px;
  }

  .c-jobs__region {
    width: 100%;
    break-inside: avoid;
  }

  .c-jobs__title {
    margin-bottom: 80px;
  }
}
