/* ==========================================================================
   #LINKS
   ========================================================================== */

.c-links__title {
  margin-bottom: 12px;
}

.c-links__text {
  margin-bottom: 35px;
}

.c-links__item {
  box-shadow: 0 0 15px rgba(#000, 0.13);
  background-color: #c8decd;
  font-size: 18px;
  padding: 21px;
}

.c-links__items > * {
  width: 100%;
  margin-bottom: 20px;
  max-width: 336px;
}

.c-links__items {
  margin-bottom: -20px;
}

@include bp(medium) {
  .c-links__items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
    max-width: #{2 * (336px + 12px)};
    justify-content: space-between;
  }

  .c-links__items > * {
    margin-bottom: 24px;
    width: calc(50% - 12px);
  }

  .c-links__item {
    font-size: 21px;
    padding-bottom: 27px;
    padding-top: 27px;
  }

  .c-links__text {
    margin-bottom: 50px;
  }
}

@include bp(large) {
  .c-links__items > * {
    width: calc(50% - 15px);
  }

  .c-links__title {
    margin-bottom: 25px;
  }
}
