/* ==========================================================================
   #MAIN NAV
   ========================================================================== */

.c-main-nav__link {
  border-color: transparent;
}

@include bp-down(xlarge) {
  .c-main-nav {
    font-size: 20px;
    line-height: (24/20);
    letter-spacing: 0.02em;
    margin-bottom: 0;
    padding: (30px + 24px + $header-height-small) 30px 30px 74px;
  }

  .c-main-nav__item {
    margin-bottom: 48px;
  }

  .c-main-nav__subitem {
    margin-bottom: 24px;
  }

  .c-main-nav__dropdown {
    text-transform: none;
    font-size: 80%;
    margin-left: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  @include bp(medium) {
    .c-main-nav {
      font-size: 26px;
      line-height: (32/26);
      padding-top: (50px + 30px + $header-height-small);
      padding-bottom: 50px;
      padding-left: 100px;
    }

    .c-main-nav__subitem {
      margin-bottom: 36px;
    }

    .c-main-nav__item {
      margin-bottom: 60px;
    }

    .c-main-nav__dropdown {
      margin-left: 42px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

@include bp(xlarge) {
  .c-main-nav {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
  }

  .c-main-nav__item {
    margin: 0 40px 0 0;
    position: relative;
    align-items: stretch;
    display: flex;

    @include link-hover {
      .c-main-nav__link {
        color: $color-green;
      }
    }

    @include link-click {
      .c-main-nav__link {
        color: currentColor;
        border-top-color: $color-yellow;
      }
    }
  }

  .c-main-nav__link {
    color: currentColor;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    border: 10px solid transparent;
    border-left: 0;
    border-right: 0;
    padding: 0 10px;
    transition: color $transition-fast-in ease, border-color $transition-fast-in ease;
  }

  .c-main-nav__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $color-white;
    color: #252526;
    box-shadow: 0 0 8px rgba(#000, 0.17);
    padding: 18px 21px;
    margin-top: -20px;
    min-width: 191px;
    transition: visibility $transition-fast-out ease, opacity $transition-fast-out ease;
    opacity: 0;
    visibility: hidden;
  }

  .c-main-nav__item:focus-within .c-main-nav__dropdown {
    opacity: 1;
    visibility: visible;
    transition-duration: $transition-fast-in, $transition-fast-in;
  }

  .c-main-nav__item:hover .c-main-nav__dropdown {
    opacity: 1;
    visibility: visible;
    transition-duration: $transition-fast-in, $transition-fast-in;
  }

  .c-main-nav__sublink {
    padding-bottom: 3px;
    padding-right: 5px;
    transition: color $transition-fast-in ease, border-color $transition-fast-in ease;
    border: 1px solid transparent;
  }

  .c-main-nav__subitem {
    margin-bottom: 1em;

    @include link-active-hover-click {
      .c-main-nav__sublink {
        color: $color-green;
        border-bottom-color: currentColor;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
