/* ==========================================================================
   #MEMBERS
   ========================================================================== */

.c-members__title {
  margin-bottom: 12px;
}

.c-members__cards {
  margin: -1px;
}

.c-members__items {
  padding: 1px;
}

.c-members__item {
  max-width: 184px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $color-gray-lighter;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color $transition-fast-out ease, box-shadow $transition-fast-out ease;
  outline: 1px solid transparent;
  margin-bottom: 30px;
  padding-bottom: 9px;

  @include link-active-hover {
    &,
    .c-members__item-media {
      transition-duration: $transition-fast-in ease;
      border-color: $color-green;
    }

    & {
      box-shadow: 0 0 0 1px $color-green;
    }

    .c-members__item-media {
      box-shadow: 0 1px 0 0 $color-green;
    }
  }
}

.c-members__item-media {
  position: relative;
  padding-top: (142 / 182 * 100%);
  border-bottom: 1px solid $color-gray-lighter;
  transition: border-color $transition-fast-out ease, box-shadow $transition-fast-out ease;
  margin-bottom: 19px;
}

.c-members__item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center 10%;
}

.c-members__header {
  margin-bottom: 40px;
}

.c-members__item-title {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0 10px;
}

.c-members__item-position {
  padding: 0 10px;
  font-size: 12px;
}

.c-members__more {
  display: block;
  width: 258px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.c-members__items-divider {
  width: 100%;
}

.c-members__items.no-more .c-members__items-divider,
.c-members__items.is-initialized .c-members__items-divider {
  display: none;
}

@include bp-down(medium) {
  .c-members__items:not(.is-initialized) .c-members__item:nth-child(n + 5) {
    display: none;
  }
}

@include bp-between(medium, large) {
  .c-members__items:not(.is-initialized) .c-members__item:nth-child(n + 9) {
    display: none;
  }
}

@include bp-between(large, xlarge) {
  .c-members__items:not(.is-initialized) .c-members__item:nth-child(n + 13) {
    display: none;
  }
}

@include bp(medium) {
  .c-members__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-members__item {
    width: calc(50% - 16px);
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    padding-bottom: 25px;
  }

  .c-members__item-media {
    margin-bottom: 25px;
  }

  .c-members__header {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .c-members__title {
    margin-bottom: 0;
  }

  .c-members__item-title {
    font-size: 20px;
  }

  .c-members__more {
    margin-top: 30px;
  }

  .c-members__item-position {
    font-size: 14px;
  }
}

@include bp(large) {
  .c-members__items {
    margin-left: -27px;
    justify-content: flex-start;
    min-width: calc(100% + 27px);
  }

  .c-members__item {
    width: calc(100% / 3 - 27px);
    margin-left: 27px;
    margin-bottom: 40px;
  }

  .c-members__select .o-select__option {
    margin-left: 30px;
  }
}

@include bp(xlarge) {
  .c-members__items:not(.is-initialized) .c-members__item:nth-child(n + 17) {
    display: none;
  }

  .c-members__item {
    width: calc(25% - 27px);
  }
}
