/* ==========================================================================
   #MEMBER
   ========================================================================== */

.c-member {
  padding: 40px 23px 15px;
}

.c-member.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.c-member__media {
  position: relative;
  padding-top: 166 / 236 * 100%;
  margin-bottom: 22px;
}

.c-member__title {
  margin-bottom: 0;
}

.c-member__position {
  margin-bottom: 12px;
}

.c-member__text {
  margin-top: 12px;
  margin-bottom: 20px;
  line-height: (21/16);
}

.c-member__nav {
  margin-top: 20px;
}

@include bp-down(medium) {
  .c-member__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center 10%;
  }

  .c-member__title {
    font-size: 22px;
  }

  .c-member__position {
    font-size: 16px;
  }

  .c-member__text {
    font-size: 16px;
  }

  .c-member__text-inner {
    overflow: hidden;
    max-height: 7 * 21px;
  }

  .c-member__text.is-initialized .c-member__text-inner {
    overflow: visible;
    max-height: none;
  }

  .c-member__text.is-initialized .c-member__more {
    display: none;
  }
}

@include bp(medium) {
  .c-member {
    padding: 78px 65px 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-member__nav {
    width: 100%;
  }

  .c-member__media {
    width: (217 / 526) * 100%;
    padding-top: 0;
  }

  .c-member__content {
    width: (282 / 526) * 100%;
  }

  .c-member__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

@include bp-between(medium, large) {
  .c-member__title {
    font-size: 35px;
  }

  .c-member__position {
    margin-bottom: 18px;
  }

  .c-member__text {
    margin-top: 18px;
  }

  .c-member__nav {
    margin-top: 60px;
    padding-top: 25px;
  }
}

@include bp(large) {
  .c-member {
    padding: 143px 110px 48px;
  }

  .c-member__media {
    width: (362 / 877) * 100%;
    padding-top: 0;
  }

  .c-member__content {
    width: (453 / 877) * 100%;
  }

  .c-member__position {
    margin-bottom: 60px;
  }

  .c-member__text {
    margin-top: 60px;
  }

  .c-member__title {
    margin-bottom: 7px;
  }

  .c-member__nav {
    margin-top: 90px;
  }
}
