/* ==========================================================================
   #MODEL
   ========================================================================== */

.c-model__title {
  margin-bottom: 14px;
}

.c-model__text {
  margin-bottom: 63px;
  max-width: 862px;
  margin-left: auto;
  margin-right: auto;
}

.c-model__image {
  display: block;
}

.c-model__media {
  margin-bottom: 8px;
}

.c-model__item-title {
  margin-bottom: 12px;
}

.c-model__items {
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 50px;
}

.c-model__items:before,
.c-model__items:after {
  content: '';
  display: block;
  min-width: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.c-model__separator {
  height: 1em;
  margin-left: -20px;
  margin-right: -10px;
  position: relative;
  color: $color-yellow;
  background-color: currentColor;
  font-size: 24px;
  margin-bottom: 27px;
  z-index: 4;
}

.c-model__separator:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em (13/24) + em;
  border-color: transparent transparent transparent currentColor;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
}

.c-model__items > *:nth-child(2) .c-model__separator {
  color: $color-orange;
  z-index: 3;
}

.c-model__items > *:nth-child(3) .c-model__separator {
  color: $color-green-lighter;
  z-index: 2;
}

.c-model__items > *:nth-child(4) .c-model__separator {
  color: $color-blue;
  z-index: 1;
}

.c-model__items > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 60%;
  max-width: 252px;
  flex-shrink: 0;
  flex-grow: 1;
}

.c-model__item-text {
  line-height: (22/14);
}

@include bp-down(medium) {
  .c-model__footer {
    font-size: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .c-model__image {
    height: 45px;
    width: auto;
  }
}

@include bp(medium) {
  .c-model__title {
    margin-bottom: 17px;
  }

  .c-model__text {
    margin-bottom: 90px;
  }

  .c-model__media {
    height: 58px;
    display: flex;
    align-items: flex-end;
  }

  .c-model__separator {
    font-size: 31px;
    margin-left: -28px;
    margin-right: -32px;
  }

  .c-model__items > * {
    margin-left: 28px;
    margin-right: 28px;
  }

  .c-model__items {
    margin-left: -55px;
    margin-right: -55px;
    margin-bottom: 80px;
  }

  .c-model__items:before,
  .c-model__items:after {
    min-width: 55px;
  }
}

@include bp(xlarge) {
  .c-model__items {
    margin-bottom: 100px;
  }
}

@include bp(full) {
  .c-model__items:before,
  .c-model__items:after {
    min-width: 0;
  }

  .c-model__items {
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
  }
}
