/* ==========================================================================
   #NEWSLETTER
   ========================================================================== */

.c-newsletter {
  background-color: $color-green;
  padding: 30px 0;
}

.c-newsletter__title {
  margin-bottom: 25px;
  width: 100%;
  flex-shrink: 0;
}

.c-newsletter__input {
  border-bottom: 1px solid rgba($color-white, 0.45);
  width: 100%;
  display: block;
  line-height: 35px;
  margin-bottom: 35px;
  margin-top: -5px;
}

.c-newsletter__submit {
  min-width: 144px;
  flex-shrink: 0;
}

.c-newsletter__message {
  margin-top: 20px;
  width: 100%;
}

.c-newsletter__message:empty {
  display: none;
}

@include bp(medium) {
  .c-newsletter {
    padding-bottom: 60px;
  }

  .c-newsletter__title {
    margin-bottom: 30px;
  }

  .c-newsletter__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-newsletter__input {
    width: calc(50% - 20px);
  }
}

@include bp(large) {
  .c-newsletter {
    padding: 85px 0;
  }

  .c-newsletter__form {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .c-newsletter__title {
    width: auto;
    margin-right: 55px;
    margin-bottom: 0;
  }

  .c-newsletter__input {
    margin: 0 20px;
  }

  .c-newsletter__submit {
    margin-left: 20px;
  }

  .c-newsletter__message {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    width: auto;
  }
}
