/* ==========================================================================
   #NEWSLETTER FORM
   ========================================================================== */

.c-newsletter-form {
  padding: 50px 28px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-newsletter-form__text {
  line-height: (22/14);
  margin-bottom: 16px;
}

.c-newsletter-form__title {
  margin-bottom: 5px;
}

.c-newsletter-form__input {
  line-height: 48px;
  padding: 0 15px;
  background-color: $color-white;
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
}

.c-newsletter-form__submit {
  margin-top: 28px;
  margin-bottom: 13px;
}

.c-newsletter-form__message {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.c-newsletter-form__message:empty {
  display: none;
}

@include bp-down(medium) {
  .c-newsletter-form__title {
    font-size: 22px;
  }
}

@include bp(medium) {
  .c-newsletter-form {
    padding: 90px 66px 50px;
  }

  .c-newsletter-form__title {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .c-newsletter-form__text {
    margin-bottom: 15px;
    font-size: 17px;
  }

  .c-newsletter-form__input {
    font-size: 17px;
    margin-bottom: 17px;
  }

  .c-newsletter-form__submit {
    margin-top: 32px;
    margin-bottom: 43px;
  }

}
