/* ==========================================================================
   #NEWS
   ========================================================================== */

.c-news__title {
  margin-bottom: 30px;
}

.c-news__image {
  display: block;
  margin: 0 auto 10px;
  width: 172px;
  height: 72px;
}

.c-news__quote {
  line-height: (26/18);
  margin-bottom: 20px;
}

.c-news__source,
.c-news__author {
  font-size: 20px;
}

.c-news__author {
  margin-bottom: 0.4em;
  margin-top: auto;
}

@include bp-down(medium) {
  .c-news__items.c-news__items > * {
    border-bottom: 1px solid #979797;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .c-news__items.c-news__items > *:nth-child(n + 2) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

@include bp-down(large) {
  .c-news__items > .c-news__item:nth-child(n + 3) {
    display: none;
  }
}

@include bp(medium) {
  .c-news__title {
    margin-bottom: 45px;
  }

  .c-news__items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .c-news--2 .c-news__items {
    max-width: 720px;
  }

  .c-news--1 .c-news__items {
    justify-content: center;
  }

  .c-news__items.c-news__items > * {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 315px;
  }

  .c-news--1 .c-news__items.c-news__items > * {
    width: auto;
  }

  .c-news__quote,
  .c-news__image {
    margin-bottom: 25px;
  }
}

@include bp-between(medium, large) {
  .c-news__items:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #979797;
  }

  .c-news__items.c-news__items > * {
    padding: 20px 0;
  }
}

@include bp(large) {
  .c-news__items.c-news__items > * {
    width: calc(33.3333% - 20px);
    margin-bottom: 40px;
  }

  .c-news--1 .c-news__items.c-news__items > * {
    width: auto;
  }

  .c-news--2 .c-news__items.c-news__items > * {
    width: calc(50% - 20px);
  }

  .c-news__title {
    margin-bottom: 70px;
  }
}
