/* ==========================================================================
   #OVERLAY
   ========================================================================== */

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.c-overlay {
  @include height-100vh(false);
  position: fixed;
  left: 0;
  top: $header-height-small;
  width: 100%;
  background-color: rgba(#5a5a4b, 0.69);
  backdrop-filter: blur(3px);
  z-index: 3;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  padding: 30px 0;
  transition: opacity $transition-slow-out, visibility $transition-slow-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @supports (--custom:property) {
    top: calc(#{$header-height-small} + var(--admin-bar-height));
  }
}

.c-overlay.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-duration: $transition-slow-in, $transition-slow-in;
}

.c-overlay__inner {
  margin: auto;
  width: calc(100% - 40px);
  background-color: #f8f8f2;
  position: relative;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.27);
}

.c-overlay--newsletter .c-overlay__inner {
  max-width: 500px;
  border-radius: 5px;
}

.c-overlay__close {
  position: absolute;
  left: 50%;
  top: -17px;
  width: 1em;
  height: 1em;
  font-size: 34px;
  margin-left: -17px;
  z-index: 2;
  border-radius: 50%;
  padding: 0;
  background-color: $color-green-lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $transition-fast-in ease;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.38);

  @include link-active-hover {
    background-color: $color-green;
  }
}

.c-overlay__close:after,
.c-overlay__close:before {
  width: (12/34) + em;
  height: (4/34) + em;
  background-color: $color-white;
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -(6/34) + em;
  margin-top: -(2/34) + em;
}

.c-overlay__close:before {
  transform: rotate(-45deg);
}

.c-overlay__close:after {
  transform: rotate(45deg);
}

.c-overlay--newsletter .c-overlay__close {
  font-size: 45px;
  margin-left: -22px;
  top: -22px;
}

.c-overlay--newsletter .c-overlay__close:after,
.c-overlay--newsletter .c-overlay__close:before {
  width: (16/45) + em;
  height: (2/45) + em;
  margin-left: -(8/45) + em;
  margin-top: -(1/45) + em;
}

.c-overlay.is-loading .c-overlay__close {
  opacity: 0;
  visibility: hidden;
}

.c-overlay.is-loading:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -24px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  background: transparent;
  border-top: 4px solid $color-white;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@include bp(medium) {
  .c-overlay {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .c-overlay__inner {
    width: calc(100% - 80px);
  }

  .c-overlay__close {
    margin-left: -25px;
    top: -25px;
    font-size: 50px;
  }

  .c-overlay--newsletter .c-overlay__close {
    font-size: 55px;
    width: 55px;
    height: 55px;
    margin-left: -27px;
    top: -27px;
  }
}

@include bp(large) {
  .c-overlay {
    top: $header-height-large;
    padding: 120px 0;

    @supports (--custom:property) {
      top: calc(#{$header-height-large} + var(--admin-bar-height));
    }
  }

  .c-overlay__close {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    top: -40px;
  }

  .c-overlay__close:after,
  .c-overlay__close:before {
    width: 30px;
    height: 4px;
    margin-top: -2px;
    margin-left: -15px;
  }
}

