/* ==========================================================================
   #POSTS LIST
   ========================================================================== */

.c-posts-list__select {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.23' height='13.246'%3E%3Cpath d='M1.115 1.003l9 10 9-10' fill='none' stroke='%23f8f8f2' stroke-miterlimit='10' stroke-width='3'/%3E%3C/svg%3E") no-repeat right 9px center, linear-gradient(to right, $color-green-lighter, $color-green-lighter) no-repeat right top;
  background-size: 18px 10px, 40px 100%;
  border: 1px solid $color-green-lighter;
  border-radius: 2px;
  appearance: none;
  line-height: 40px;
  padding: 0 (40px + 18px) 0 18px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: $color-gray-lighter;

  &:focus {
    &::-ms-value {
      color: currentColor;
      background-color: $color-white;
    }
  }

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 currentColor;
  }
}

.c-posts-list__search {
  border-bottom: 1px solid $color-gray-lighter;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.c-posts-list__search-input {
  line-height: 32px;
  flex-grow: 1;
  width: calc(100% - 40px);

  &::placeholder {
    color: $color-gray-lighter;
  }
}

.c-posts-list__search-submit {
  width: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.c-posts-list__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

.c-posts-list__reset {
  align-self: flex-end;
}

.c-posts-list__item {
  box-shadow: 0 0 10px rgba(#000, 0.36);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
  transition: color $transition-fast-in ease, box-shadow $transition-fast-in ease;

  @include link-active-hover {
    box-shadow: 0 0 10px rgba(#000, 0.36), 0 0 0 1px $color-green-lighter;

    .c-posts-list__item-type {
      color: $color-green-lighter;
    }

    .c-posts-list__item-title {
      color: $color-green;
    }
  }
}

.c-posts-list__item-media {
  width: (55 / 280 * 100%);
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.c-posts-list__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-posts-list__item-content {
  padding: 11px 8px;
}

.c-posts-list__item-type {
  margin-bottom: 5px;
  transition: color $transition-fast-in ease;
  color: $color-gray-lighter;
}

.c-posts-list__item-title {
  margin-bottom: 5px;
  line-height: (20/14);
  transition: color $transition-fast-in ease;
}

.c-posts-list__item-footer {
  color: $color-gray-lighter;
  font-size: 12px;
}

.c-posts-list__pagination {
  font-size: 16px;
}

.c-posts-list__items {
  margin-bottom: 40px;
}

.c-posts-list__pagination > * {
  padding: 5px;
  display: inline-block;
}

.c-posts-list__pagination .current {
  color: $color-green;
}

@include bp-down(medium) {
  .c-posts-list__item-type {
    font-size: 12px;
  }

  .c-posts-list__item-title {
    font-size: 14px;
  }
}

@include bp(medium) {
  .c-posts-list {
    max-width: 847px;
  }

  .c-posts-list__form {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 60px;
  }

  .c-posts-list__reset,
  .c-posts-list__select,
  .c-posts-list__search {
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
  }

  .c-posts-list__reset {
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 26px;
  }

  .c-posts-list__search {
    margin-left: 26px;
    width: (255 / (768 - 55 - 52)) * 100%;
    max-width: 333px;
    font-size: 20px;
  }

  .c-posts-list__search-input {
    line-height: 40px;
  }

  .c-posts-list__select {
    width: (308 / (768 - 55 - 52)) * 100%;
    max-width: 327px;
    font-size: 20px;
  }

  .c-posts-list__item {
    margin-bottom: 27px;
    min-height: 183px;
  }

  .c-posts-list__item-media {
    width: (190 / 660) * 100%;
  }

  .c-posts-list__item-content {
    padding: 23px;
    display: flex;
    flex-direction: column;
  }

  .c-posts-list__item-footer {
    margin-top: auto;
    font-size: 16px;
  }

  .c-posts-list__item-type {
    font-size: 15px;
  }

  .c-posts-list__pagination {
    font-size: 20px;
  }
}

@include bp(medium) {
  .c-posts-list__search,
  .c-posts-list__reset {
    margin-left: 40px;
  }

  .c-posts-list__search-icon {
    width: 20px;
    height: 20px;
  }
}

@include bp(large) {
  .c-posts-list__item {
    min-height: 235px;
    margin-bottom: 35px;
  }

  .c-posts-list__form {
    margin-bottom: 45px;
  }

  .c-posts-list__items {
    margin-bottom: 50px;
  }

  .c-posts-list__pagination > * {
    padding: 10px;
  }
}

@include bp(xlarge) {
  .c-posts-list {
    padding-top: 45px;
    padding-bottom: 55px;
  }
}
