/* ==========================================================================
   #POSTS CAROUSEL
   ========================================================================== */

.c-posts-carousel__items {
  margin-bottom: 20px;
}

.c-posts-carousel__title {
  margin-bottom: 25px;
}

.c-posts-carousel__category {
  color: $color-gray-lighter;
  margin-bottom: 13px;
}

.c-posts-carousel__media {
  min-height: 240px;
  position: relative;
}

.c-posts-carousel__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-posts-carousel__item {
  border: 1px solid rgba(#6d7278, 0.3);
  background-color: $color-white;
}

.c-posts-carousel__content {
  padding: 26px;
}

.c-posts-carousel__item-title {
  margin-bottom: 30px;
}

.c-posts-carousel__cta {
  color: #78b586;
  letter-spacing: 0.0625em;

  @include link-active-hover {
    color: $color-yellow;
  }
}

@include bp(medium) {
  .c-posts-carousel__title {
    margin-bottom: 65px;
  }

  .c-posts-carousel__media {
    min-height: 522px;
  }

  .c-posts-carousel__content {
    padding: 55px 65px;
  }

  .c-posts-carousel__category {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .c-posts-carousel__item-title {
    margin-bottom: 35px;
  }

  .c-posts-carousel__text {
    margin-bottom: 45px;
  }

  .c-posts-carousel__items {
    margin-bottom: 65px;
  }

  .c-posts-carousel__cta {
    font-size: 18px;
  }
}

@include bp(large) {
  .c-posts-carousel__item {
    display: flex;
    align-items: stretch;
  }

  .c-posts-carousel__media {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
  }

  .c-posts-carousel__content {
    padding: 70px;
  }
}
