/* ==========================================================================
   #POST
   Includes styles for default WP images classes
   ========================================================================== */

.c-post {
  margin-top: 75px;
  margin-bottom: 45px;
}

.c-post__back {
  margin-bottom: 25px;
  display: inline-block;
}

.c-post__type {
  margin-bottom: 10px;
}

.c-post__meta {
  margin-bottom: 30px;
}

.c-post__share {
  display: flex;
  margin-top: $block-margin;
}

.c-post__share-link {
  padding: 4px;
  margin-right: 5px;
  display: flex;
}

.c-post__share-popup-button,
.c-post__share-link:last-child {
  margin-right: 0;
}

.c-post__share-icon {
  display: block;
  margin: auto;
}

.c-post__share-popup {
  position: relative;
}

.c-post__share-popup-content {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 5px;
  box-shadow: 0 0 4px rgba($color-black, 0.2);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition-fast-in ease, visibility $transition-fast-in ease;
}

.c-post__share-popup.is-active .c-post__share-popup-content {
  opacity: 1;
  visibility: visible;
}

.c-post__share-popup-content:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent $color-white transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -3px;
  filter: drop-shadow(0 -2px 2px rgba($color-black, 0.2));
}

@include bp(medium) {
  .c-post__back {
    margin-bottom: 52px;
  }

  .c-post__type {
    margin-bottom: 33px;
  }

  .c-post__meta {
    margin-bottom: 55px;
  }

  .c-post__share {
    margin-top: 45px;
  }

  .c-post__content {
    font-size: 20px;
  }
}

@include bp(large) {
  .c-post {
    margin-top: 105px;
    margin-bottom: 90px;
  }

  .c-post__back {
    margin-bottom: 70px;
  }

  .c-post__type {
    margin-bottom: 23px;
  }

  .c-post__title {
    margin-bottom: 16px;
  }

  .c-post__meta {
    margin-bottom: 45px;
  }
}
