/* ==========================================================================
   #SLIDESHOW
   ========================================================================== */

.c-slideshow {
  background-color: #dceadf;
}

.c-slideshow__items {
  margin-bottom: 20px;
  overflow: visible;
}

.c-slideshow__items:before {
  box-shadow: 0 2px 4px rgba($color-black, 0.5);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 9 / 16 * 100%;
  content: '';
}

.c-slideshow__button {
  background-color: rgba(#c9c9c9, 0.23);
}

.c-slideshow__title {
  margin-bottom: 30px;
}

.c-slideshow__dots {
  margin-bottom: 35px;
}

@include bp(medium) {
  .c-slideshow__title {
    margin-bottom: 40px;
  }

  .c-slideshow__items {
    margin-bottom: 45px;
  }

  .c-slideshow__dots {
    margin-bottom: 45px;
  }
}
