/* ==========================================================================
   #STATS
   ========================================================================== */

.c-stats__select .o-image-select__image {
  mix-blend-mode: normal;
  filter: none;
  width: (34 - 12) / 34 * 100%;
  height: (34 - 12) / 34 * 100%;
  top: (6 / 34) * 100%;
  left: (6 / 34) * 100%;
  opacity: 1;
}

.c-stats__title {
  margin-bottom: 30px;
}

.c-stats__select {
  margin-bottom: 39px;
}

.c-stats__items-wrapper {
  border: 1px solid rgba($color-black, 0.25);
  padding: 21px 14px 19px;
}

.c-stats__item-title {
  line-height: (26/18);
  margin-bottom: 12px;
}

.c-stats__stat {
  background-color: #3c4d3e;
  position: relative;
  display: flex;
  margin-bottom: 14px;

  @include link-active-hover(true) {
    z-index: 1;

    .c-stats__stat-overlay {
      opacity: 1;
      visibility: visible;
      transition-duration: $transition-fast-in, $transition-fast-in;
    }
  }
}

.c-stats__stat-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.c-stats__stat-front:before {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent $color-yellow transparent;
}

.c-stats__stat:before {
  width: 0;
  display: block;
  padding-top: 100%;
  content: '';
  line-height: 0;
}

.c-stats__stat-overlay {
  background-color: #f0f0c5;
  padding: 25px 24px;
  line-height: (24/14);
  transition: opacity $transition-fast-out ease, visibility $transition-fast-out ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.c-stats__nav {
  margin-top: 55px;
}

.c-stats__view-all {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 252px;
  max-width: 100%;
}

.c-stats__stat-strapline {
  font-size: 26px;
}

.c-stats__stat-value {
  font-size: 85px;
  line-height: (100/85);
  margin-top: -0.3em;
}

.c-stats__stat-text {
  font-size: 22px;
  line-height: (27/22);
}

@include bp-down(medium) {
  .c-stats__item:not(.is-initialized) .c-stats__item-stats > .c-stats__stat:nth-child(n + 5) {
    display: none;
  }

  .c-stats__item.is-initialized .c-stats__view-all {
    display: none;
  }
}

@include bp(medium) {
  .c-stats__title {
    margin-bottom: 60px;
  }

  .c-stats__item-title {
    margin-bottom: 80px;
  }

  .c-stats__select {
    margin-bottom: 35px;
  }

  .c-stats__items-wrapper {
    padding: 49px 33px 26px;
  }

  .c-stats__item-stats {
    display: flex;
    flex-wrap: wrap;
    margin-left: -21px;
    margin-bottom: 40px;
    align-items: stretch;
  }

  .c-stats__item-stats > * {
    width: calc(50% - 21px);
    margin-left: 21px;
    margin-bottom: 22px;
  }

  .c-stats__nav {
    margin-top: 0;
  }

  .c-stats__stat-overlay {
    padding: 39px 35px;
  }
}

@include bp-between(medium, 768px) {
  .c-stats__stat-overlay {
    font-size: 14px;
  }
}

@include bp-between(medium, large) {
  .c-stats__items-wrapper {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@include bp(large) {
  .c-stats__select .o-image-select__option {
    width: auto;
    flex-shrink: 0;
  }

  .c-stats__select .o-image-select__image {
    width: 64%;
    height: 64%;
    top: 18%;
    left: 18%;
  }

  .c-stats__title {
    margin-bottom: 80px;
  }

  .c-stats__select {
    margin-bottom: 0;
  }

  .c-stats__items-wrapper {
    padding: 65px 50px 40px;
  }

  .c-stats__item-title {
    margin-bottom: 20px;
  }

  .c-stats__item-stats > * {
    width: calc(100% / 3 - 25px);
    margin-left: 25px;
    margin-bottom: 28px;
  }

  .c-stats__item-stats {
    margin-left: -25px;
    margin-bottom: 57px;
  }
}

@include bp-between(large, xlarge) {
  .c-stats__stat-overlay {
    font-size: 14px;
    padding: 30px;
  }

  .c-stats {
    padding-left: 35px;
    padding-right: 35px;
  }

  .c-stats__items-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
  }
}

@include bp(xlarge) {
  .c-stats__stat-value {
    font-size: 100px;
  }

  .c-stats__stat-overlay {
    padding: 40px;
    font-size: 20px;
  }
}

@include bp-between(xlarge, full) {
  .c-stats__stat-overlay {
    font-size: 16px;
    padding: 45px 40px;
  }
}
