/* ==========================================================================
   #STORY CARDS
   ========================================================================== */

.c-story-cards__item-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-story-cards__title {
  margin-bottom: 30px;
}

.c-story-cards__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color-beige-lighter, 0.8);
  padding: 10px 8px;
  margin-bottom: 0;
}

.c-story-cards__items {
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 20px 0;
  margin-top: -20px;
  margin-bottom: -20px;
  max-width: 100%;
}

.c-story-cards__items:after,
.c-story-cards__items:before {
  display: block;
  content: '';
  width: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  pointer-events: none;
}

.c-story-cards__items:before {
  margin-right: auto;
}

.c-story-cards__items:after {
  margin-left: auto;
}

.c-story-cards__items > * {
  width: 206 / 320 * 100vw;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 240px;
}

.c-story-cards__item {
  box-shadow: -2px 2px 11px rgba(#000, 0.13);
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  min-height: 257px;

  @include link-active-hover(true) {
    .c-story-cards__item-overlay {
      opacity: 1;
      visibility: visible;
      transition-duration: $transition-fast-in, $transition-fast-in;
    }
  }
}

.c-story-cards__item-overlay {
  background-color: $color-beige-lighter;
  position: relative;
  padding: 15px;
  width: 100%;
  transition: opacity $transition-fast-out ease, visibility $transition-fast-out ease;
  visibility: hidden;
  opacity: 0;
}

.c-story-cards__item-location,
.c-story-cards__item-name {
  font-size: 16px;
  margin-bottom: 0;
}

.c-story-cards__item-text {
  margin-top: 16px;
}

.c-story-cards__item-text:first-child {
  margin-top: 0;
}

@include bp(medium) {
  .c-story-cards__title {
    margin-bottom: 45px;
  }

  .c-story-cards__items > * {
    max-width: 336px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .c-story-cards__item {
    min-height: 420px;
  }

  .c-story-cards__item-overlay {
    padding: 33px 45px;
  }

  .c-story-cards__item-location,
  .c-story-cards__item-name {
    font-size: 25px;
  }

  .c-story-cards__items:after,
  .c-story-cards__items:before {
    width: #{55 - 19}px;
  }

  .c-story-cards__item-title {
    padding: 26px 20px;
  }
}

@include bp(large) {
  .c-story-cards__title {
    margin-bottom: 75px;
  }
}
