/* ==========================================================================
   #TEAM GALLERY
   ========================================================================== */

.c-team-gallery {
  padding-top: 5px;
}

.c-team-gallery__select .o-image-select__image {
  mix-blend-mode: normal;
  filter: none;
  width: (34 - 14) / 34 * 100%;
  height: (34 - 14) / 34 * 100%;
  top: (7 / 34) * 100%;
  left: (7 / 34) * 100%;
  opacity: 1;
}

.c-team-gallery__select {
  margin-bottom: 23px;
}

.c-team-gallery__images {
  margin-bottom: 14px;
}

.c-team-gallery__item-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 540px;
}

@include bp(medium) {
  .c-team-gallery__images,
  .c-team-gallery__select {
    margin-bottom: 30px;
  }

  .c-team-gallery {
    padding-top: 15px;
  }
}

@include bp(large) {
  .c-team-gallery__select .o-image-select__option {
    width: auto;
    max-width: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 40px;
    margin-right: 40px;
  }

  .c-team-gallery__select {
    margin-bottom: 23px;
  }

  .c-team-gallery__images {
    margin-bottom: 33px;
  }

  .c-team-gallery__select .o-image-select__image {
    width: 64%;
    height: 64%;
    top: 18%;
    left: 18%;
  }

  .c-team-gallery {
    padding-top: 30px;
  }
}

@include bp(xlarge) {
  .c-team-gallery {
    padding-top: 0;
  }
}

@media (min-height: 600px) {
  .c-team-gallery__item-image {
    @include max-height-100vh(false, 80px);
  }
}
