/* ==========================================================================
   #VALUES
   ========================================================================== */

.c-values__select {
  margin-bottom: 30px;
}

.c-values__items-wrapper {
  border: 1px solid rgba($color-black, 0.25);
  padding: 21px 14px;
  margin-bottom: 40px;
}

.c-values__item-title {
  letter-spacing: 0.063em;
  margin-bottom: 1em;
}

.c-values__items {
  margin-bottom: 30px;
}

.c-values__item-media {
  margin-bottom: 20px;
  display: block;
}

@include bp-between(large, xlarge) {
  .c-values__items-wrapper,
  .c-values__select {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@include bp-down(medium) {
  .c-values__item-title {
    font-size: 18px;
  }

  .c-values__item-text {
    font-size: 22px;
  }
}

@include bp(medium) {
  .c-values__select,
  .c-values__title {
    margin-bottom: 35px;
  }

  .c-values__items-wrapper {
    padding: 45px 33px;
    margin-bottom: 60px;
  }

  .c-values__item-title {
    margin-bottom: 30px;
  }

  .c-values__item-media {
    margin-bottom: 35px;
  }

  .c-values__items {
    margin-bottom: 80px;
  }

  .c-values__cta {
    width: 258px;
  }
}

@include bp(large) {
  .c-values__select {
    margin-bottom: 0;
  }

  .c-values__items-wrapper {
    margin-bottom: 100px;
    padding: 60px 50px;
  }

  .c-values__item-content {
    display: flex;
  }

  .c-values__item-media {
    width: 50%;
    max-width: 637px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 38px;
    margin-bottom: 0;
  }

  .c-values__items {
    margin-bottom: 80px;
  }
}

@include bp(xlarge) {
  .c-values__item-media {
    width: 60%;
  }
}
