/* ==========================================================================
   #VIDEO TEXT
   ========================================================================== */

.c-video-text__text {
  margin-bottom: 1em;
  font-size: 18px;
}

@include bp(medium) {
  .c-video-text__text {
    font-size: 20px;
  }
}

@include bp(large) {
  .c-video-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .c-video-text > *:first-child {
    width: (415px / $wrapper-width) * 100%;
    margin-bottom: 0;
  }

  .c-video-text > *:last-child {
    width: (565px / $wrapper-width) * 100%;
  }
}
