{% include 'components/newsletter.twig' %}

<footer class="c-footer">
  <div class="c-footer__inner o-wrapper-padding u-c-green o-links-yellow u-no-last-margin">
    <a class="c-footer__logo" href="{{ site.url }}">
      {{ imgTag(assetPath('images/logo.svg'), 'full', {width: 100, height: 90, lazy: true, class: 'c-footer__logo-icon u-fit-contain'}) }}
    </a>
    {% if footer_addresses %}
      <div class="c-footer__addresses u-show-medium">
        {% for item in footer_addresses %}
          {{ tag(item.address, 'c-footer__address u-no-last-margin u-fs-normal', 'address') }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="c-footer__columns">
      {% include 'partials/footer-quick-links.twig' %}
      {% include 'partials/footer-social-links.twig' %}
    </div>
  </div>
  {{ tag(footer_copyright, 'c-footer__copyright u-text-center o-wrapper-padding u-no-last-margin o-links-underlined o-links-green-yellow') }}
</footer>

{% if newsletter_popup %}
  {{ newsletter_popup }}
{% endif %}

