<header class="c-header">
  <nav class="c-header__inner o-wrapper" aria-label="Main menu">
    <a class="c-header__logo u-d-block" href="{{ site.url }}">
      {{ imgTag(assetPath('images/logo.svg'), 'full', {width: 77, height: 67, lazy: false, class: 'c-header__logo-icon u-fit-contain'}) }}
      <span class="c-header__logo-text u-show-large">
        my<span class="u-c-green u-uppercase">Agro</span>
      </span>
    </a>
    <div class="c-header__menu o-links-yellow u-no-scroll-bar u-no-overscroll-y">
      {% include 'components/main-nav.twig' %}
    </div>
    {% if header_buttons %}
      <div class="c-header__buttons u-show-medium">
        {% for item in header_buttons %}
          {{ tag(item.button.title, 'c-header__button o-btn o-btn--green u-uppercase o-btn--shadow', 'a', {href: item.button.url, target: item.button.target, rel: item.button.target == '_blank' ? 'noopener noreferrer'}) }}
        {% endfor %}
      </div>
    {% endif %}
    {% include 'partials/hamburger.twig' with {class: 'c-header__hamburger u-hide-xlarge u-c-green-light'} %}
  </nav>
</header>
