{% if main_nav %}
  <ul class="c-main-nav o-list-bare">
    {% for item in main_nav.items %}
      {% set classes = item.classes | join(' ') %}
      <li class="{{ classes }} c-main-nav__item{{ 'current' in classes ? ' is-active' : '' }}">
        <a href="{{item.link}}" class="c-main-nav__link">
          {{ item.title }}
        </a>
        {% if item.children %}
          <ul class="c-main-nav__dropdown o-list-bare">
            {% for subitem in item.children %}
              {% set classes = subitem.classes | join(' ') %}
              <li class="{{ classes }} c-main-nav__subitem{{ 'current' in classes ? ' is-active' : '' }}">
                <a href="{{subitem.link}}" class="c-main-nav__sublink">
                  {{subitem.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
