<section class="c-member u-no-last-margin{{ class ? ' ' ~ class : '' }}">
  <div class="c-member__media">
    {{ imgTag(thumbnail, 'medium', {lazy: true, class: 'c-member__image u-fit-cover'}) }}
  </div>
  <div class="c-member__content u-no-last-margin">
    {{ tag(title, 'c-member__title o-h1 u-fw-500 u-c-green u-ff-serif', 'h3') }}
    {{ tag(position, 'c-member__position o-h6 u-c-green-lighter u-fw-700') }}
    {% if content %}
    <div class="c-member__text">
      <div class="c-member__text-inner u-no-last-margin o-h6">
        {{ content }}
      </div>
      <button class="c-member__more u-underlined o-link-green u-hide-medium">Read More</button>
    </div>
    {% endif %}
  </div>
  <div class="c-member__nav u-fw-700 o-next-prev">
    <button class="c-member__prev o-link-green o-next-prev__item" type="button" data-id="{{ id | esc_attr }}">Previous</button>
    <button class="c-member__next o-link-green o-next-prev__item o-next-prev__item--next" type="button" data-id="{{ id | esc_attr }}">Next</button>
  </div>
</section>
