{% if newsletter_mailchimp_list_url %}
<div class="c-newsletter">
  <form class="c-newsletter__form o-wrapper u-c-white js-mailchimp-form" action="{{ newsletter_mailchimp_list_url | esc_attr }}" method="post" target="_blank">
    {{ tag('Subscribe', 'c-newsletter__title o-h1 u-ff-serif u-fw-400', 'h2') }}
    <input class="c-newsletter__input o-h6" type="text" placeholder="First Name" aria-label="First Name" required name="FNAME">
    <input class="c-newsletter__input o-h6" type="email" placeholder="Email" aria-label="Email" required name="EMAIL">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_439d55956d00d2b288e56c3d3_84a3fbdc62" tabindex="-1" value="">
    </div>
    {{ tag('Sign up', 'c-newsletter__submit o-btn o-btn--white o-btn--round u-uppercase o-btn--letter-spacing js-submit', 'button', {type: 'submit'}) }}
    <div class="c-newsletter__message js-mailchimp-form-message"></div>
  </form>
</div>
{% endif %}
