<aside class="c-overlay u-no-scroll-bar u-no-overscroll-y{{ class ? ' ' ~ class : '' }}" data-overlay-close>
  <div class="c-overlay__inner o-wrapper">
    <button class="c-overlay__close" data-overlay-close>
      <span class="u-hidden-visually">Close</span>
    </button>

    {{ content }}
  </div>
</aside>
