<svg id="svg-source" style="display: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
  <symbol id="svg-chevron-desktop" viewBox="0 0 17.41 10.12" preserveAspectRatio="xMidYMid meet">
    <path d="M8.71 10.12L0 1.41 1.41 0l7.3 7.29L16 0l1.41 1.41-8.7 8.71z"/>
  </symbol>

  <symbol id="svg-chevron-mobile" viewBox="0 0 11.41 7.12" preserveAspectRatio="xMidYMid meet">
    <path d="M5.71 7.12L0 1.41 1.41 0l4.3 4.29L10 0l1.41 1.41-5.7 5.71z"/>
  </symbol>

  <symbol id="svg-magnifier" viewBox="0 0 22.99 21.31" preserveAspectRatio="xMidYMid meet">
    <path d="M23 19.82l-8.07-7.18a8.26 8.26 0 10-1.31 1.51l8.05 7.16zM8.14 14.28a6.14 6.14 0 116.14-6.14 6.14 6.14 0 01-6.14 6.14z"/>
  </symbol>

  <symbol id="svg-twitter" viewBox="0 0 29 29" preserveAspectRatio="xMidYMid meet">
    <path d="M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z" />
  </symbol>

  <symbol id="svg-facebook" viewBox="0 0 29 29" preserveAspectRatio="xMidYMid meet">
    <path d="M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79" />
  </symbol>

  <symbol id="svg-linkedin" viewBox="0 0 29 29" preserveAspectRatio="xMidYMid meet">
    <path d="M5 6.36C5 5.61 5.63 5 6.4 5h16.2c.77 0 1.4.61 1.4 1.36v16.28c0 .75-.63 1.36-1.4 1.36H6.4c-.77 0-1.4-.6-1.4-1.36V6.36z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M10.76 20.9v-8.57H7.89v8.58h2.87zm-1.44-9.75c1 0 1.63-.65 1.63-1.48-.02-.84-.62-1.48-1.6-1.48-.99 0-1.63.64-1.63 1.48 0 .83.62 1.48 1.59 1.48h.01zM12.35 20.9h2.87v-4.79c0-.25.02-.5.1-.7.2-.5.67-1.04 1.46-1.04 1.04 0 1.46.8 1.46 1.95v4.59h2.87v-4.92c0-2.64-1.42-3.87-3.3-3.87-1.55 0-2.23.86-2.61 1.45h.02v-1.24h-2.87c.04.8 0 8.58 0 8.58z" fill="#fff" />
  </symbol>

  <symbol id="svg-bookmark" viewBox="0 0 25 25" preserveAspectRatio="xMidYMid meet">
    <path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd" />
  </symbol>

  <symbol id="svg-dots" viewBox="0 0 30.7 8.2" preserveAspectRatio="xMidYMid meet">
    <path d="M4.1,8.2A4.1,4.1,0,1,1,8.2,4.1,4.11,4.11,0,0,1,4.1,8.2Zm0-7A2.9,2.9,0,1,0,7,4.1,2.9,2.9,0,0,0,4.1,1.2Z"/><path d="M15.35,8.2a4.1,4.1,0,1,1,4.1-4.1A4.11,4.11,0,0,1,15.35,8.2Zm0-7a2.9,2.9,0,1,0,2.9,2.9A2.9,2.9,0,0,0,15.35,1.2Z"/><path d="M26.6,8.2a4.1,4.1,0,1,1,4.1-4.1A4.11,4.11,0,0,1,26.6,8.2Zm0-7a2.9,2.9,0,1,0,2.9,2.9A2.9,2.9,0,0,0,26.6,1.2Z"/>
  </symbol>
</svg>
