/* ==========================================================================
   #COLOR
   ========================================================================== */

.u-c-white {
  color: $color-white;
}

.u-c-black {
  color: $color-black;
}

.u-c-green {
  color: $color-green;
}

.u-c-green-light {
  color: $color-green-light;
}

.u-c-green-lighter {
  color: $color-green-lighter;
}

.u-c-yellow {
  color: $color-yellow;
}

.u-c-gray {
  color: $color-gray;
}

.u-c-orange {
  color: $color-orange;
}

.u-c-blue {
  color: $color-blue;
}

.u-c-red {
  color: $color-red;
}

.u-c-beige {
  color: $color-beige;
}

.u-c-beige-lighter {
  color: $color-beige-lighter;
}

.u-c-gray-lighter {
  color: $color-gray-lighter;
}

