/* ==========================================================================
   #FONT FAMILY
   ========================================================================== */

.u-ff-serif {
  font-family: $font-serif;
}

.u-ff-sans-serif {
  font-family: $font-sans-serif;
}
