/* ==========================================================================
   #ALIGN
   ========================================================================== */

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clear {
  clear: both;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-underlined {
  text-decoration: underline;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-nowrap {
  white-space: nowrap;
}
