{% if footer_social_links %}
  <nav class="c-footer__column u-no-last-margin">
    <h3 class="c-footer__subtitle">Follow Us</h3>
    <div class="c-footer__social-links">
      {% for item in footer_social_links if item.icon %}
        <a href="{{item.url}}" class="c-footer__social-link" target="_blank" rel="noreferrer noopener">
          {{ imgTag(item.icon, 'full', {class: 'c-footer__social-icon u-fit-contain', width: 70, height: 70, lazy: true}) }}
        </a>
      {% endfor %}
    </div>
  </nav>
{% endif %}
