{% if quick_links %}
  <nav class="c-footer__column u-no-last-margin">
    <h3 class="c-footer__subtitle">Quick Links</h3>
    <div class="c-footer__links">
      {% for item in quick_links.items %}
        <a href="{{ item.link }}" class="c-footer__link" target="{{ item.target }}"{% if item.target == '_blank' %} rel="noreferrer noopener"{% endif %}>
          {{ item.title }}
        </a>
      {% endfor %}
    </div>
  </nav>
{% endif %}
