<button class="o-hamburger{{ class ? ' ' ~ class : '' }}" type="button" aria-label="Toggle menu">
  <span class="o-hamburger__wrapper">
    <span class="o-hamburger__bar"></span>
    <span class="o-hamburger__bar"></span>
    <span class="o-hamburger__bar"></span>
    <span class="o-hamburger__bar"></span>
  </span>
</button>
