<div class="c-members__item u-text-center u-c-green{{ class ? ' ' ~ class : '' }}" role="button" data-id="{{ id | esc_attr }}_{{ group_id | esc_attr }}" data-member-id="{{ id | esc_attr }}">
  <div class="c-members__item-media">
    {{ imgTag(thumbnail, 'medium', {class: 'c-members__item-thumbnail u-fit-cover', lazy: true}) }}
  </div>
  {{ tag(title, 'c-members__item-title u-ff-serif o-h6 u-fw-400', 'h3') }}
  {{ tag(position, 'c-members__item-position') }}
</div>
