<form class="c-newsletter-form u-text-center js-mailchimp-form" action="{{ newsletter_mailchimp_list_url | esc_attr }}" method="post" target="_blank">
  {{ tag('Subscribe', 'c-newsletter-form__title o-h3 u-fw-400 u-ff-serif u-c-green') }}
  <div class="c-newsletter-form__text u-c-green-lighter u-no-last-margin">
    Get the latest from myAgro and learn how you can help empower farmers.
  </div>
  <input class="c-newsletter-form__input u-c-gray-lighter" type="text" placeholder="First Name*" aria-label="First Name" required name="FNAME">
  <input class="c-newsletter-form__input u-c-gray-lighter" type="text" placeholder="Last Name" aria-label="Last Name" name="LNAME">
  <input class="c-newsletter-form__input u-c-gray-lighter" type="email" placeholder="Email*" aria-label="Email" required name="EMAIL">
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_439d55956d00d2b288e56c3d3_84a3fbdc62" tabindex="-1" value="">
  </div>
  {{ tag('Sign up', 'c-newsletter-form__submit o-btn o-btn--green o-btn--round u-uppercase o-btn--letter-spacing js-submit', 'button', {type: 'submit'}) }}
  <div class="c-newsletter-form__message js-mailchimp-form-message"></div>
  <button class="u-c-green-lighter u-underlined o-link-yellow" type="button" data-overlay-close>Close</button>
</form>
