/*
  Project: myAgro
  Author: Piotr Bajer
 */

.acf-postbox.acf-postbox:hover > .hndle .acf-hndle-cog {
  display: none;
}

.img-preview-button {
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
