/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.o-btn {
  @include button;
}

/* Style variants
   ========================================================================== */

.o-btn--green {
  @include button-green;
}

.o-btn--yellow {
  @include button-yellow;
}

.o-btn--white {
  @include button-white;
}

.o-btn--outline {
  @include button-outline;
}

.o-btn--green-lighter {
  @include button-green-light;
}

.o-btn--round {
  border-radius: 5px;
}

.o-btn--letter-spacing {
  letter-spacing: 0.3em;
}

.o-btn--shadow {
  box-shadow: 0 0 15px rgba($color-black, 0.13);
}

/* Size variants
   ========================================================================== */
