/* ==========================================================================
   #DOTS
   ========================================================================== */

.o-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
}

.o-dots--vertical {
  flex-direction: column;
}

.o-dots__button {
  padding: 6px;
  transition: color $transition-fast-in ease, opacity $transition-fast-in;
  opacity: 0.4;
  flex-grow: 0;
  flex-shrink: 0;

  @include link-active-hover-click {
    opacity: 1;
  }
}

.o-dots__dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #78b586;
  border-radius: 50%;
}

.o-dots--green .o-dots__dot {
  background-color: $color-green;
}

@include bp(medium) {
  .o-dots {
    margin-top: -10px;
  }

  .o-dots__button {
    padding: 10px;
  }

  .o-dots__dot {
    width: 14px;
    height: 14px;
  }
}
