/* ==========================================================================
   #IMAGE SELECT
   ========================================================================== */

.o-image-select {
  margin-left: auto;
  margin-right: auto;

  @include link-click-hover {
    .o-image-select__chevron {
      transform: rotate(180deg);
    }
  }
}

.o-image-select__media {
  display: block;
  width: 31px;
  height: 31px;
  position: relative;
  border-radius: 50%;
  background-color: #f1eec4;
  transition: background-color $transition-fast-in ease;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.o-image-select__option {
  @include link-click-hover {
    .o-image-select__media {
      background-color: #fed800;
    }

    .o-image-select__image {
      opacity: 1;
    }

    .o-image-select__label {
      color: $color-gray;
    }
  }
}

.o-image-select__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  mix-blend-mode: luminosity;
  transition: opacity $transition-fast-in ease;
  opacity: 0.3;
}

.o-image-select__label {
  margin-bottom: 0;
  color: $color-gray-lighter;
}

.o-image-select__chevron {
  margin-left: auto;
  transition: transform $transition-fast-in ease;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 5px;
}

@include bp-down(medium) {
  .o-image-select__value .o-image-select__label {
    font-size: 22px;
  }

  .o-image-select__value .o-image-select__media {
    width: 34px;
    height: 34px;
    margin-right: 15px;
  }
}

@include bp-down(large) {
  .o-image-select__option {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 10px 8px 20px;
  }

  .o-image-select {
    max-width: 204px;
    position: relative;
    z-index: 2;

    @include link-click-hover {
      .o-image-select__options {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .o-image-select__value {
    border-bottom: 7px solid #fed800;
  }

  .o-image-select__value .o-image-select__option {
    padding: 10px 0;
  }

  .o-image-select__options {
    box-shadow: 0 0 10px rgba(#000, 0.24);
    background-color: $color-white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: opacity $transition-fast-out ease, visibility $transition-fast-out ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .o-image-select__media {
    width: 31px;
    height: 31px;
    margin-right: 11px;
  }

  .o-image-select__options .o-image-select__option:not(:last-child) {
    border-bottom: 1px solid rgba($color-black, 0.25);
  }
}

@include bp-between(medium, large) {
  .o-image-select__media {
    width: 50px;
    height: 50px;
    margin-right: 17px;
  }

  .o-image-select__value .o-image-select__media {
    width: 55px;
    height: 55px;
    margin-right: 25px;
  }

  .o-image-select__value .o-image-select__label {
    font-size: 36px;
  }

  .o-image-select__chevron {
    width: 18px;
    height: 10px;
  }

  .o-image-select__option {
    padding: 13px 20px 13px 35px;
  }

  .o-image-select__value .o-image-select__option {
    padding: 13px 0;
  }

  .o-image-select__value {
    border-width: 12px;
  }

  .o-image-select {
    max-width: 326px;
  }
}

@include bp(large) {
  .o-image-select__options {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .o-image-select__media {
    width: 115px;
    height: 115px;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .o-image-select__option {
    border-bottom: 12px solid transparent;
    transition: border-color $transition-fast-in ease;
    padding: 0 10px 30px;
    max-width: 204px;
    flex-grow: 1;
    flex-shrink: 0;

    @include link-click-hover {
      border-color: #fed800;
    }
  }
}
