/* ==========================================================================
   #LINK
   ========================================================================== */

.o-links-yellow a,
.o-link-yellow {
  @include link-active-hover-click {
    color: $color-yellow;
  }
}

.o-links-underlined a,
.o-link-underlined {
  text-decoration: underline;
}

.o-generic-links a,
.o-generic-link,
.o-links-green-yellow a,
.o-link-green-yellow {
  color: $color-green;

  @include link-active-hover-click {
    color: $color-yellow;
  }
}

.o-links-green a,
.o-link-green {
  @include link-active-hover-click {
    color: $color-green;
  }
}
