/* ==========================================================================
   #NEXT PREV
   ========================================================================== */

.o-next-prev {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-gray-lighter;
  padding-top: 15px;
}

.o-next-prev__item--next {
  margin-left: auto;
}

@include bp(medium) {
  .o-next-prev {
    font-size: 18px;
    padding-top: 35px;
  }
}
