/* ==========================================================================
   #PLAY BUTTON
   ========================================================================== */

.o-play-button {
  position: absolute;
  text-indent: -200vw;
  font-size: 36px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;

  @include link-active-hover {
    &::before {
      background-color: $color-green;
    }
  }
}

.o-play-button:before {
  position: absolute;
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $color-yellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color $transition-slow-out ease;
}

.o-play-button:after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-#{(3/36)}em, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: #{(8.5/36)}em 0 #{(8.5/36)}em #{(11/36)}em;
  border-color: transparent transparent transparent $color-white;
}

@include bp(medium) {
  .o-play-button {
    font-size: 84px;
  }
}

@include bp(large) {
  .o-play-button {
    font-size: 74px;
  }
}
