/* ==========================================================================
   #SECTION
   ========================================================================== */

.o-section {
  padding-top: 45px;
  padding-bottom: 45px;
}

@include bp(medium) {
  .o-section {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

@include bp(large) {
  .o-section {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

@include bp(xlarge) {
  .o-section {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .o-section + .o-section--no-top {
    padding-top: 0;
  }
}
