/* ==========================================================================
   #IMAGE SELECT
   ========================================================================== */

.o-select {
  position: relative;
  display: inline-block;

  @include link-click-hover {
    .o-select__chevron {
      transform: rotate(180deg);
    }
  }
}

.o-select__option {
  @include link-click {
    .o-select__label {
      font-weight: 700;
    }
  }
}

.o-select__chevron {
  transition: transform $transition-fast-in ease;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 3px;
  margin-left: 10px;
}

@include bp-down(large) {
  .o-select__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-white;
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px rgba(#000, 0.24);
    min-width: 100%;
    transition: opacity $transition-fast-out ease, visibility $transition-fast-out ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .o-select__options .o-select__option {
    padding: 12px;
    width: 100%;
    text-align: left;
  }

  .o-select {
    position: relative;
    z-index: 1;
    min-width: 115px;

    @include link-click-hover {
      .o-select__options {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .o-select__value .o-select__option {
    min-width: 100%;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include bp(large) {
  .o-select__option {
    @include link-click-hover {
      .o-select__label {
        color: $color-green;
      }
    }
  }
}
