/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-wrapper {
  @include wrapper;
}

.o-wrapper-padding {
  @include wrapper-padding;
}

.o-anti-wrapper {
  @include anti-wrapper;
}

.o-wrapper-narrow {
  @include wrapper($wrapper-narrow-width);
}

.o-wrapper-padding-narrow {
  @include wrapper-padding($wrapper-narrow-width);
}

.o-anti-wrapper-narrow {
  @include anti-wrapper($wrapper-narrow-width);
}

.o-wrapper-wide {
  @include wrapper($wrapper-wide-width);
}

.o-wrapper-padding-wide {
  @include wrapper-padding($wrapper-wide-width);
}

.o-anti-wrapper-wide {
  @include anti-wrapper($wrapper-wide-width);
}
