{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-404 o-section o-wrapper-padding u-no-last-margin alignfull{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ tag(attrs.title, 'c-404__title o-h1 u-c-green u-fw-700 u-ff-serif', 'h1') }}
  {{ tag(attrs.text, 'c-404__text u-fw-400 o-h4 o-generic-links') }}
</section>
