{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-contact o-wrapper o-section alignfull{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ tag(attrs.title, 'c-contact__title o-h1 u-c-green u-fw-300 u-ff-serif u-text-center', 'h1') }}
  <div class="c-contact__columns">
    <div class="c-contact__form-wrapper u-c-gray-lighter u-text-center">
      {% if attrs.contactFormId %}
        {{ function('do_shortcode', '[contact-form-7 id="' ~ attrs.contactFormId ~ '"]') }}
      {% endif %}
    </div>
    <div class="c-contact__content u-no-last-margin">
      <div class="u-no-last-margin">
        {{ blockContent }}
      </div>
      {% if attrs.facebookLink or attrs.twitterLink %}
        <div class="c-contact__social o-links-green u-c-black">
          {% if attrs.twitterLink %}
            <a class="c-contact__social-link" href="{{ attrs.twitterLink | esc_attr }}" target="_blank" rel="noopener noreferrer">
              {{ svg('svg-twitter', 'c-contact__social-icon', {width: 20, height: 20}) }}
            </a>
          {% endif %}
          {% if attrs.facebookLink %}
            <a class="c-contact__social-link" href="{{ attrs.facebookLink | esc_attr }}" target="_blank" rel="noopener noreferrer">
              {{ svg('svg-facebook', 'c-contact__social-icon', {width: 20, height: 20}) }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
