{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% if 'is-style-' not in attrs.className %}
  {% set attrs = attrs|merge({className: (attrs.className ~ ' is-style-default') | trim}) %}
{% endif %}
<section class="c-cover o-wrapper-padding o-section u-text-center alignfull{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ imgTag(attrs.bg, 'w2560', {sizes: 'w2560', lazy: true, class: 'c-cover__bg u-fit-cover'}) }}
  <div class="c-cover__inner u-no-last-margin">
    {% if attrs.styleName == 'default' %}
      {{ imgTag(attrs.img, 'medium', {sizes: 'medium', lazy: true, class: 'c-cover__icon u-fit-contain'}) }}
    {% endif %}
    {% if attrs.styleName == 'quote' %}
      {{ tag(attrs.title, 'c-cover__title u-fw-300 u-ff-serif o-h2 u-fs-normal' ~ (attrs.titleColor ? ' has-' ~ attrs.titleColor ~ '-color' : ''), 'blockquote', {style: attrs.customTitleColor ? 'color: ' ~ attrs.customTitleColor : ''}) }}
    {% else %}
      {{ tag(attrs.title, 'c-cover__title u-fw-300 u-ff-serif o-h1' ~ (attrs.titleColor ? ' has-' ~ attrs.titleColor ~ '-color' : ''), 'h2', {style: attrs.customTitleColor ? 'color: ' ~ attrs.customTitleColor : ''}) }}
    {% endif %}

    {% if attrs.styleName != 'video' %}
      {{ tag(attrs.text, 'c-cover__text o-h4' ~ (attrs.textColor ? ' has-' ~ attrs.textColor ~ '-color' : ''), 'div', {style: attrs.customTextColor ? 'color: ' ~ attrs.customTextColor : ''}) }}
    {% endif %}
    {% if (attrs.styleName == 'default' or attrs.styleName == 'text') and attrs.buttonText %}
      {{ tag(attrs.buttonText, 'c-cover__cta o-btn o-btn--yellow o-btn--round o-btn--letter-spacing u-uppercase u-c-gray', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% endif %}
    {% if attrs.styleName == 'video' and attrs.embed %}
      <div class="c-cover__embed">
        {{ embed(attrs.embed) }}
      </div>
    {% endif %}
  </div>
</section>
