{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-headline o-section u-text-center o-wrapper-padding alignfull u-no-last-margin{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-headline__title o-h1 u-c-green u-fw-300 u-ff-serif', 'h1') }}
  {{ tag(attrs.subtitle, 'c-headline__subtitle u-fw-400 o-h4') }}
</section>
