{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-hero o-wrapper-padding u-c-white alignfull{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ imgTag(attrs.img, 'full', {sizes: 'w2560', lazy: true, class: 'c-hero__image u-fit-cover'}) }}
  <div class="c-hero__inner u-no-last-margin">
    {{ tag(attrs.title ~ (attrs.texts ? '<div class="c-hero__underlined"><div><span>' ~ attrs.texts | join('</span></div><div><span>') ~ '</span></div>' : ''), 'c-hero__title o-h1 u-ff-serif u-fw-500' ~ (attrs.textColor ? ' has-' ~ attrs.textColor ~ '-color' : ''), 'h1', {style: attrs.customTextColor ? 'color: ' ~ attrs.customTextColor : ''}) }}
  </div>
</section>
