{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% if 'is-style-' not in attrs.className %}
  {% set attrs = attrs|merge({className: (attrs.className ~ ' is-style-default') | trim}) %}
{% endif %}
<section class="c-icons o-wrapper-padding u-text-center o-section alignfull u-no-last-margin{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-icons__image u-fit-contain'}) }}
  {{ tag(attrs.title, 'c-icons__title o-h1 u-fw-300 u-ff-serif' ~ (attrs.titleColor ? ' has-' ~ attrs.titleColor ~ '-color' : ' u-c-green'), 'h2', {style: attrs.customTitleColor ? 'color: ' ~ attrs.customTitleColor : ''}) }}
  {% if attrs.styleName == 'default' %}
  {{ tag(attrs.text, 'c-icons__text o-h4' ~ (attrs.textColor ? ' has-' ~ attrs.textColor ~ '-color' : ''), 'div', {style: attrs.customTextColor ? 'color: ' ~ attrs.customTextColor : ''}) }}
  {% endif %}
  <div class="c-icons__items">
    {{ blockContent }}
  </div>
  {% if innerBlocks|length > 5 %}
    <button class="c-icons__show-all o-link-underlined o-link-yellow u-c-green u-hide-medium">See All</button>
  {% endif %}
  {% if attrs.styleName == 'default' and attrs.buttonText %}
    {{ tag(attrs.buttonText, 'o-btn o-btn--yellow o-btn--round o-btn--letter-spacing u-uppercase u-c-gray', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
  {% endif %}
</section>
