{% set styleName = attrs.styleName ? attrs.styleName : 'default' %}
{% spaceless %}
<div class="c-icons__item{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-icons__item-image u-fit-contain'}) }}
  {% if styleName == 'default' %}
  {{ tag(attrs.title, 'c-icons__item-title u-fw-400 u-ff-serif' ~ (attrs.titleColor ? ' has-' ~ attrs.titleColor ~ '-color' : ' u-c-green'), 'h3', {style: attrs.customTitleColor ? 'color: ' ~ attrs.customTitleColor : ''}) }}
  {% endif %}
  {{ tag(attrs.text, 'c-icons__item-text' ~ (attrs.textColor ? ' has-' ~ attrs.textColor ~ '-color' : ''), 'div', {style: attrs.customTextColor ? 'color: ' ~ attrs.customTextColor : ''}) }}
</div>
{% endspaceless %}
