{% if blockContent %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-icon-tiles o-wrapper-padding-wide u-text-center alignfull o-section has-beige-lighter-background-color{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-icon-tiles__title o-h1 u-c-green u-fw-300 u-ff-serif', 'h2') }}
  <div class="c-icon-tiles__items">
    {{ blockContent }}
  </div>
  {% if attrs.text %}
    {{ tag(attrs.text, 'o-btn o-btn--yellow o-btn--round o-btn--letter-spacing u-uppercase', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
  {% endif %}
</section>
{% endif %}
