<div class="c-icon-tiles__item{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-icon-tiles__image u-fit-contain'}) }}
  {{ tag(attrs.title, 'c-icon-tiles__item-title u-fw-400 o-h4 u-ff-serif', 'h3') }}
  {{ tag(attrs.text, 'c-icon-tiles__text') }}
</div>
