{% if attrs.url %}
<a class="c-jobs__item o-link-green{{ attrs.className ? ' ' ~ attrs.className }}" href="{{ attrs.url }}" rel="{{ attrs.rel }}" target="{{ attrs.target }}">
{% else %}
<div class="c-jobs__item{{ attrs.className ? ' ' ~ attrs.className }}">
{% endif %}
  {{ tag(attrs.title, 'c-jobs__item-title o-h3 u-fw-400 u-ff-serif', 'h4') }}
  {{ tag(attrs.type ? attrs.type : 'Full Time', 'c-jobs__item-type') }}
  {{ tag(attrs.location ? attrs.location : 'On Site', 'c-jobs__item-location u-fs-italic u-ff-serif') }}
{% if attrs.url %}
</a>
{% else %}
</div>
{% endif %}
