<div class="c-jobs__region{{ not attrs.url and innerBlocks|length > 5 ? ' has-more' : '' }}{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-jobs__region-header">
    {{ tag(attrs.title, 'c-jobs__region-title u-uppercase u-fw-700', 'h3') }}
    {% if attrs.url %}
      {{ tag(attrs.buttonText ? attrs.buttonText : 'See All', 'c-jobs__region-button u-c-white u-ff-serif u-fs-italic', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% elseif innerBlocks|length > 5 %}
      {{ tag('See All', 'c-jobs__region-button c-jobs__region-button--more u-c-white u-ff-serif u-fs-italic', 'button', {type: 'button'}) }}
    {% endif %}
  </div>
  <nav class="c-jobs__items">
    {{ blockContent }}
  </nav>
</div>
