{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-jobs o-wrapper-padding-wide o-section u-no-last-margin alignfull{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-jobs__title o-h1 u-fw-300 u-ff-serif u-text-center u-c-green', 'h2') }}
  <div class="c-jobs__regions">
    {{ attrs.blockContent is defined ? attrs.blockContent : blockContent }}
  </div>
</section>
