{% if attrs.text %}
  <a class="c-links__item o-btn o-btn--green-lighter u-fw-700{{ attrs.className ? ' ' ~ attrs.className }}" href="{{ attrs.url }}" target="{{ attrs.target }}" rel="{{ attrs.rel }}">
    {{ attrs.text }}
  </a>
{% endif %}

