{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-links o-wrapper-padding-narrow o-section has-beige-lighter-background-color u-text-center alignfull{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-links__title o-h1 u-c-green u-fw-300 u-ff-serif', 'h2') }}
  {{ tag(attrs.text, 'c-links__text o-h4') }}
  <div class="c-links__items">
    {{ blockContent }}
  </div>
</section>
