{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-members c-members o-wrapper-padding js-slideshow alignfull o-section o-section--no-top">
  <div class="c-members__header">
    <h2 class="c-members__title u-ff-serif o-h1 u-c-green u-fw-300 js-slideshow-top">{{ attrs.title ? attrs.title : 'Team Members' }}</h2>
    {% if attrs.groups %}
    <div class="c-members__select o-select">
      <div class="o-select__value u-hide-large">
        {% set term = attrs.groups | first %}
        <button class="o-select__option is-active" type="button">
          {{ tag(term.name, 'o-select__label', 'span') }}
          {{ svg('svg-chevron-mobile', 'o-select__chevron u-hide-large', {width: 12, height: 7}) }}
        </button>
      </div>
      <div class="o-select__options js-slideshow-nav">
        {% for term in attrs.groups %}
        <button class="o-select__option{{ loop.first ? ' is-active' : '' }}" type="button">
            {{ tag(term.name, 'o-select__label', 'span') }}
          </button>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="c-members__cards js-slideshow-items">
    {% for tax, card in attrs.cards %}
      <div class="c-members__items{{ card.total < 16 ? ' no-more' : '' }}">
        {% for post in card.posts %}
          {% include 'partials/member-item.twig' with post %}
        {% endfor %}
        <div class="c-members__items-divider">
          <button class="c-members__more o-btn o-btn--green o-btn--round o-btn--letter-spacing u-uppercase" type="button">View All</button>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'components/overlay.twig' %}
</section>
