{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-model o-wrapper-padding-wide o-section has-beige-lighter-background-color u-no-last-margin alignfull{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-model__title o-h1 u-fw-300 u-ff-serif u-text-center u-c-green', 'h2') }}
  {{ tag(attrs.text, 'c-model__text o-h4 u-text-center') }}
  <div class="c-model__items u-no-scroll-bar u-no-overscroll-x js-scroll-x">
    {{ blockContent }}
  </div>
  {{ tag(attrs.footer, 'c-model__footer u-fw-700 u-c-green o-h6 u-text-center') }}
</section>
