<div class="c-model__item{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-model__media">
    {{ imgTag(attrs.img, 'medium', {lazy: true, class: 'c-model__image u-fit-contain'}) }}
  </div>
  {{ tag(attrs.title, 'c-model__item-title o-h4 u-ff-serif u-c-green u-fw-400', 'h3') }}
  <div class="c-model__separator"></div>
  {{ tag(attrs.text, 'c-model__item-text o-h6') }}
</div>
