{% if blockContent %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-news o-wrapper-padding-wide u-text-center alignfull c-news--{{ innerBlocks|length }} o-section{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-news__title o-h1 u-c-green u-fw-300 u-ff-serif', 'h2') }}
  <div class="c-news__items">
    {{ blockContent }}
  </div>
</section>
{% endif %}
