{% if attrs.url %}
<a class="c-news__item{{ attrs.className ? ' ' ~ attrs.className }}" href="{{ attrs.href }}" rel="{{ attrs.rel }}" target="{{ attrs.target }}">
{% else %}
<div class="c-news__item{{ attrs.className ? ' ' ~ attrs.className }}">
{% endif %}
  {{ imgTag(attrs.img, 'medium', {lazy: true, class: 'c-news__image u-fit-contain'}) }}
  {{ tag(attrs.quote, 'c-news__quote u-fw-400 o-h4 u-fs-normal', 'blockquote') }}
  {{ tag(attrs.author, 'c-news__author u-c-green u-fw-700') }}
  {{ tag(attrs.source, 'c-news__source u-c-green-lighter') }}
{% if attrs.url %}
</a>
{% else %}
</div>
{% endif %}
