{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-posts-carousel o-wrapper-padding-wide o-section has-beige-lighter-background-color u-no-last-margin alignfull js-slideshow{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-posts-carousel__title o-h1 u-fw-300 u-ff-serif u-text-center js-slideshow-top', 'h2') }}
  <div class="c-posts-carousel__items js-slideshow-items">
    {{ blockContent }}
  </div>

  {% if innerBlocks|length > 1 %}
  <div class="c-posts-carousel__dots o-dots js-slideshow-nav">
    {% for index in 1..innerBlocks|length %}
      <button class="o-dots__button{{ loop.first ? ' is-active' : '' }}">
        <span class="o-dots__dot"><span class="u-hidden-visually">{{ index }}</span></span>
      </button>
    {% endfor %}
  </div>
  {% endif %}
</section>
