<div class="c-posts-carousel__item{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-posts-carousel__media">
    {{ imgTag(attrs.img, 'w1366', {lazy: true, class: 'c-posts-carousel__image u-fit-cover'}) }}
  </div>
  <div class="c-posts-carousel__content">
    {{ tag(attrs.category, 'c-posts-carousel__category', 'div') }}
    {{ tag(attrs.title, 'c-posts-carousel__item-title u-fw-500 o-h2 u-ff-serif u-c-green', 'h2') }}
    {{ tag(attrs.text, 'c-posts-carousel__text o-h6 u-show-medium') }}
    {% if attrs.buttonText %}
      {{ tag(attrs.buttonText, 'c-posts-carousel__cta u-fw-700', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% endif %}
  </div>
</div>
