{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-posts-list o-wrapper o-section alignfull{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  <form class="c-posts-list__form" method="get">
    {% for taxonomySlug, taxonomy in attrs.taxonomies %}
      <select class="c-posts-list__select u-ff-serif" name="{{ taxonomySlug | esc_attr }}" aria-label="{{ taxonomy.title | esc_attr }}">
        <option value="">{{ taxonomy.title }}</option>
        {% for term in taxonomy.terms %}
          <option value="{{ term.id | esc_attr }}"{{ term.selected ? ' selected' : '' }}>{{ term.title }}</option>
        {% endfor %}
      </select>
    {% endfor %}
    <div class="c-posts-list__search u-ff-serif">
      <input class="c-posts-list__search-input" name="search" type="search" aria-label="Search by Keyword" placeholder="Search by Keyword" value="{{ attrs.search | esc_attr }}">
      <button class="c-posts-list__search-submit u-c-green-lighter o-link-green" type="submit">
        {{ svg('svg-magnifier', 'c-posts-list__search-icon', {width: 18, height: 18}) }}
      </button>
    </div>
    <button class="c-posts-list__reset u-underlined o-link-green-yellow" type="reset">reset</button>
  </form>
  <div class="c-posts-list__items">
    {% if attrs.total < 1 %}
      No posts found
    {% else %}
      {% for item in attrs.posts %}
        <div class="c-posts-list__item">
          <a class="c-posts-list__item-media" href="{{ item.url }}">
            {{ imgTag(item.thumbnail, 'medium', {sizes: 'medium', lazy: true, class: 'c-posts-list__item-image u-fit-cover'}) }}
          </a>
          <div class="c-posts-list__item-content">
            {{ tag(item.type, 'c-posts-list__item-type u-fw-700 u-uppercase') }}
            {{ tag(item.title, 'c-posts-list__item-title u-fw-400 o-h3 u-ff-serif', 'a', {href: item.url}) }}
            <div class="c-posts-list__item-footer">
              {% if item.authors|length > 0 %}
                Written by
                {% for author in item.authors %}
                <a class="u-underlined u-link-green" href="{{ author.url }}">{{ author.name }}</a>
                {%- if not loop.last and item.authors|length > 1 -%},  {%- endif -%}
                {% endfor %}
                <span class="c-posts-list__item-separator"> &nbsp;|&nbsp; </span>
              {% endif %}
              {{ item.date }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if attrs.total > 0 and attrs.pagination %}
    <nav class="c-posts-list__pagination u-text-center o-links-green">
      {{ attrs.pagination }}
    </nav>
  {% endif %}
</section>
