<div class="c-slideshow__item{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-slideshow__media js-video-container">
    <div class="c-slideshow__embed js-video-embed">
      {{ embed(attrs.url) }}
    </div>
    {{ imgTag(attrs.img, 'w1366', {lazy: true, class: 'c-slideshow__image u-fit-cover js-video-cover'}) }}
    <button class="c-slideshow__button o-play-button js-video-button" type="button">
      Play
    </button>
  </div>
</div>
