{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-slideshow o-wrapper-padding o-section u-no-last-margin u-text-center alignfull js-slideshow js-slideshow-auto{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-slideshow__title o-h1 u-fw-300 u-ff-serif u-text-center u-c-green js-slideshow-top', 'h2') }}
  <div class="c-slideshow__items js-slideshow-items">
    {{ blockContent }}
  </div>

  {% if innerBlocks|length > 1 %}
  <div class="c-slideshow__dots o-dots o-dots--green js-slideshow-nav">
    {% for index in 1..innerBlocks|length %}
      <button class="o-dots__button{{ loop.first ? ' is-active' : '' }}">
        <span class="o-dots__dot"><span class="u-hidden-visually">{{ index }}</span></span>
      </button>
    {% endfor %}
  </div>
  {% endif %}

  {% if attrs.buttonText %}
    {{ tag(attrs.buttonText, 'c-slideshow__cta o-btn o-btn--green o-btn--round o-btn--letter-spacing u-uppercase', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
  {% endif %}
</section>
