<div class="c-stats__item{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-stats__item-title o-h5 u-fw-700 u-uppercase', 'h3') }}
  <div class="c-stats__item-stats">
    {{ blockContent }}
  </div>
  {% if innerBlocks|length > 4 %}
  {{ tag('View all', 'c-stats__view-all o-btn o-btn--green o-btn--round o-btn--letter-spacing u-uppercase u-hide-medium', 'button') }}
  {% endif %}
</div>
