<div class="c-stats__stat{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-stats__stat-front u-text-center">
    <div class="c-stats__stat-stat">
      {{ tag(attrs.strapline, 'c-stats__stat-strapline u-c-white u-ff-serif', 'div') }}
      {{ tag(attrs.stat, 'c-stats__stat-value u-c-yellow u-ff-serif u-fw-300', 'div') }}
    </div>
    {{ tag(attrs.name, 'c-stats__stat-text u-c-white u-ff-serif', 'div') }}
  </div>
  <div class="c-stats__stat-overlay">
    {{ attrs.description }}
  </div>
</div>
