{% if attrs.url %}
<a class="c-story-cards__item{{ attrs.className ? ' ' ~ attrs.className }}" href="{{ attrs.href }}" rel="{{ attrs.rel }}" target="{{ attrs.target }}">
{% else %}
<div class="c-story-cards__item{{ attrs.className ? ' ' ~ attrs.className }}">
{% endif %}
  {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-story-cards__item-bg u-fit-cover'}) }}
  {{ tag(attrs.title, 'c-story-cards__item-title u-fw-500 o-h4 u-ff-serif u-text-center', 'h3') }}
  <div class="c-story-cards__item-overlay u-no-last-margin u-ff-serif u-fw-300">
    {{ tag(attrs.name, 'c-story-cards__item-name u-fw-600', 'h4') }}
    {{ tag(attrs.location, 'c-story-cards__item-location') }}
    {{ tag(attrs.text, 'c-story-cards__item-text') }}
  </div>
{% if attrs.url %}
</a>
{% else %}
</div>
{% endif %}
