{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-story-cards o-section alignfull u-no-last-margin{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-story-cards__title o-h1 u-c-green u-fw-300 u-ff-serif o-wrappe u-text-center', 'h2') }}
  <div class="c-story-cards__items u-no-scroll-bar u-no-overscroll-x js-scroll-x">
    {{ blockContent }}
  </div>
</section>
