{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-team-gallery o-wrapper-padding-wide o-section u-no-last-margin alignfull js-slideshow js-slideshow-top{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {% if innerBlocks|length > 1 %}
  <div class="c-team-gallery__select o-image-select">
    <div class="o-image-select__value u-hide-large">
      <button class="o-image-select__option is-active" type="button">
        <div class="o-image-select__media">
          {{ imgTag(innerBlocks[0].attrs.icon, 'circle', {lazy: true, class: 'o-image-select__image u-fit-contain'}) }}
        </div>
        {{ tag(innerBlocks[0].attrs.label, 'o-image-select__label o-h4 u-ff-serif u-fw-400', 'h4') }}
        {{ svg('svg-chevron-mobile', 'o-image-select__chevron u-hide-large', {width: 12, height: 7}) }}
      </button>
    </div>
    <div class="o-image-select__options js-slideshow-nav">
      {% for block in innerBlocks %}
        <button class="o-image-select__option{{ loop.first ? ' is-active' : '' }}" type="button">
          <div class="o-image-select__media">
            {{ imgTag(block.attrs.icon, 'circle', {lazy: true, class: 'o-image-select__image u-fit-contain'}) }}
          </div>
          {{ tag(block.attrs.label, 'o-image-select__label o-h4 u-ff-serif u-fw-400', 'h4') }}
        </button>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="c-team-gallery__items js-slideshow-items">
    {% for block in innerBlocks %}
      {% set block_attrs = block.attrs|merge({autoplay: attrs.autoplay}) %}
      {% set block = block|merge({attrs: block_attrs}) %}
      {% include 'blocks/myagro/team-gallery-item.twig' with block %}
    {% endfor %}
  </div>
</section>
