<div class="c-team-gallery__item js-slideshow{{ attrs.className ? ' ' ~ attrs.className }}{{ attrs.autoplay ? ' js-slideshow-auto' : '' }}"{{ attrs.autoplay ? ' data-auto="' ~ attrs.autoplay|esc_attr ~ '"' : '' }}>
  <div class="c-team-gallery__images js-slideshow-items">
    {% for imgId in attrs.imageIds %}
      <div class="c-team-gallery__media">
        {{ imgTag(imgId, 'w2560', {lazy: true, class: 'c-team-gallery__item-image u-fit-contain'}) }}
      </div>
    {% endfor %}
  </div>
  {% if attrs.imageIds|length > 1 %}
    <div class="c-team-gallery__dots o-dots js-slideshow-nav">
      {% for index in 1..attrs.imageIds|length %}
        <button class="o-dots__button{{ loop.first ? ' is-active' : '' }}">
          <span class="o-dots__dot"><span class="u-hidden-visually">{{ index }}</span></span>
        </button>
      {% endfor %}
    </div>
  {% endif %}
</div>
