<div class="c-values__item{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-values__item-title o-h5 u-fw-700 u-uppercase u-c-green', 'h3') }}
  <div class="c-values__item-content">
    <div class="c-values__item-media">
      {{ imgTag(attrs.img, 'w1366', {lazy: true, class: 'c-values__item-image u-fit-contain'}) }}
    </div>
    {{ tag(attrs.text, 'c-values__item-text o-h2 u-fw-300 u-fs-normal u-ff-serif', 'blockquote') }}
  </div>
</div>
