{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-values o-wrapper-padding-wide o-section u-no-last-margin alignfull js-slideshow{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-values__title o-h1 u-fw-300 u-ff-serif u-text-center u-c-green js-slideshow-top', 'h2') }}

  {% if innerBlocks|length > 1 %}
  <div class="c-values__select o-image-select">
    <div class="o-image-select__value u-hide-large">
      <button class="o-image-select__option is-active" type="button">
        <div class="o-image-select__media">
          {{ imgTag(innerBlocks[0].attrs.icon, 'circle', {lazy: true, class: 'o-image-select__image u-fit-cover'}) }}
        </div>
        {{ tag(innerBlocks[0].attrs.label, 'o-image-select__label o-h4 u-ff-serif u-fw-400', 'h4') }}
        {{ svg('svg-chevron-mobile', 'o-image-select__chevron u-hide-large', {width: 12, height: 7}) }}
      </button>
    </div>
    <div class="o-image-select__options js-slideshow-nav">
      {% for block in innerBlocks %}
        <button class="o-image-select__option{{ loop.first ? ' is-active' : '' }}" type="button">
          <div class="o-image-select__media">
            {{ imgTag(block.attrs.icon, 'circle', {lazy: true, class: 'o-image-select__image u-fit-cover'}) }}
          </div>
          {{ tag(block.attrs.label, 'o-image-select__label o-h4 u-ff-serif u-fw-400', 'h4') }}
        </button>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="c-values__items-wrapper">
    <div class="c-values__items js-slideshow-items">
      {{ blockContent }}
    </div>
    {% if innerBlocks|length > 1 %}
      <div class="c-values__nav u-fw-700 o-next-prev">
        <button class="c-values__prev o-link-green js-slideshow-prev o-next-prev__item">Previous</button>
        <button class="c-values__next o-link-green js-slideshow-next o-next-prev__item o-next-prev__item--next">Next</button>
      </div>
    {% endif %}
  </div>

  <div class="u-text-center">
    {% if attrs.buttonText %}
      {{ tag(attrs.buttonText, 'c-values__cta o-btn o-btn--green o-btn--round o-btn--letter-spacing u-uppercase', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% endif %}
  </div>
</section>
