{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-video-text o-section alignwide{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  <div class="c-video-text__text u-no-last-margin">
    {{ blockContent }}
  </div>
  <div class="c-video-text__media js-video-container">
    <div class="c-video-text__embed js-video-embed">
      {{ embed(attrs.url) }}
    </div>
    {{ imgTag(attrs.img, 'w1366', {sizes: 'w1366', lazy: true, class: 'c-video-text__cover u-fit-cover js-video-cover'}) }}
    <button class="c-video-text__button o-play-button js-video-button" type="button">
      Play
    </button>
  </div>
</section>
