{% extends "layouts/base.twig" %}

{% block content %}
  <div class="o-content">
    {% if content %}
      {{ content }}
    {% else %}
      {% include 'blocks/myagro/block-404.twig' with {attrs: {title: '404', text: '<strong>Sorry, we couldn\'t find what you\'re looking for.</strong>'}} %}
    {% endif %}
  </div>
{% endblock %}
