{% extends "layouts/base.twig" %}

{% block content %}
  <section class="c-post">
    <div class="c-post__header o-wrapper-narrow">
      {% if page_for_media %}
        {{ tag('Go back', 'c-post__back u-uppercase o-link-green u-c-gray-lighter', 'a', {href: function('get_permalink', page_for_media)}) }}
      {% endif %}
      {{ tag(type, 'c-post__type u-c-green-lighter u-uppercase u-fw-700') }}
      {{ tag(post.title, 'o-h1  u-c-green u-fw-300 u-ff-serif', 'h1') }}
      <div class="c-post__meta u-c-gray-lighter o-links-green">
        {% if authors and authors|length > 0 %}
          Written by
          {% for author in authors %}
            <a class="u-underlined u-link-green" href="{{ author.url }}">{{ author.name }}</a>
            {%- if not loop.last and item.authors|length > 1 -%},  {%- endif -%}
          {% endfor %}
          <span class="c-posts-list__item-separator"> &nbsp;|&nbsp; </span>
        {% endif %}
        {{ date }}
      </div>
    </div>
    <div class="c-post__content o-content">
      {{post.content}}
    </div>
    <div class="c-post__share u-c-black o-links-green o-wrapper-narrow">
      <a class="c-post__share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ url_encoded | esc_url | esc_attr }}" target="_blank" rel="noopener nofollow">{{ svg('svg-twitter', 'c-post__share-icon c-post__share-icon--twitter', {width: 26, height: 26}) }}</a>
      <a class="c-post__share-link" href="https://twitter.com/intent/tweet?url={{ url_encoded | esc_url | esc_attr }}&text=" target="_blank" rel="noopener nofollow">{{ svg('svg-facebook', 'c-post__share-icon c-post__share-icon--facebook', {width: 26, height: 26}) }}</a>
      <button class="c-post__share-link js-bookmark o-link-green" data-url="{{ url | esc_url | esc_attr }}" type="button">
        {{ svg('svg-bookmark', 'c-post__share-icon c-post__share-icon--bookmark', {width: 26, height: 26}) }}
      </button>
      <div class="c-post__share-popup">
        <button class="c-post__share-popup-button c-post__share-link o-link-green" type="button">
          {{ svg('svg-dots', 'c-post__share-popup-icon', {width: 28, height: 26}) }}
        </button>
        <div class="c-post__share-popup-content">
          <a class="c-post__share-link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_encoded | esc_url | esc_attr }}" target="_blank" rel="noopener nofollow">{{ svg('svg-linkedin', 'c-post__share-icon c-post__share-icon--linkedin', {width: 26, height: 26}) }}</a>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
