///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Arial', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', sans-serif !default;
$font-serif: 'Zilla Slab', serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 640px,
  large: 960px,
  xlarge: 1200px,
  full: 1400px,
);


/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-green: #176d2a;
$color-green-light: #c8decd;
$color-green-lighter: #78b586;
$color-yellow: #fbd906;
$color-gray: #5a5a4b;
$color-gray-lighter: #8e8d8a;
$color-orange: #f7941d;
$color-blue: #2f65b0;
$color-red: #f1592a;
$color-beige: #f0f0c5;
$color-beige-lighter: #f8f8f2;

/* Transitions
   ========================================================================== */

$transition-slow-in: 0.5s;
$transition-very-slow-in: 1s;
$transition-fast-in: 0.3s;

$transition-slow-out: $transition-slow-in * 0.75;
$transition-very-slow-out: $transition-very-slow-in * 0.75;
$transition-fast-out: $transition-fast-in * 0.75;

/* Sizes
   ========================================================================== */

$header-height-small: 65px;
$header-height-large: 85px;

$wrapper-narrow-width: 764px;
$wrapper-width: 1100px;
$wrapper-wide-width: 1220px;

/* Spaces
   ========================================================================== */

$block-margin: (34/20) + rem;
