<!DOCTYPE html>
<html class="no-js no-touch no-interaction{% if 'admin-bar' in body_class %} has-admin-bar{% endif %}" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500&display=swap" rel="stylesheet">
  <script>
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
  {% if hasVendor() %}
    <script src="{{ revisionedPath('scripts/vendor.js') }}" defer></script>
  {% endif %}
  {% if hasWebpackManifest() %}
    <script>
      (function() {
        var p = '{{ getScriptsPath() }}';
        var wm = window.webpackManifest = {{ getWebpackManifest() }};
        Object.keys(wm).forEach(function(n){wm[n]=p+wm[n]});
      })();
    </script>
  {% endif %}
  <script src="{{ revisionedPath('scripts/app.bundle.js') }}" defer></script>
  {{function('wp_head')}}
  <link rel="stylesheet" property="stylesheet" href="{{ revisionedPath('styles/main.css') }}" type="text/css">
  {% block head %}
  {% endblock %}
</head>

<body class="{{body_class}}">
{{ function('wp_body_open') }}
{% include 'components/svg.twig' %}

{% block header %}
  {% include 'components/header.twig' %}
{% endblock %}

<main class="c-main">
  <div class="o-anchor"><div class="o-anchor__link" id="content"></div></div>
  {% block content %}
    Sorry, no content
  {% endblock %}
</main>

{% block footer %}
  {% include 'components/footer.twig' %}
{% endblock %}

{% if site_js %}
  <script>
    var APP_DATA = {{ site_js|json_encode }};
  </script>
{% endif %}

{{ function('wp_footer') }}
</body>
</html>
