/* ==========================================================================
   #BUTTONS
   ========================================================================== */

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-family: inherit;
  color: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: (15/16) + em 1.5em (12/16) + em;
  transition: color $transition-fast-in ease, background-color $transition-fast-in ease, border-color $transition-fast-in ease;
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1;
}

@mixin button-green {
  background-color: $color-green;
  color: $color-white;

  @include link-hover {
    background-color: #054e15;
  }

  @include link-active {
    background-color: #02320d;
  }
}

@mixin button-yellow {
  background-color: $color-yellow;
  color: $color-gray;

  @include link-hover {
    background-color: #e1c207;
  }

  @include link-active {
    background-color: #c4a803;
  }
}

@mixin button-outline {
  border-color: currentColor;
  background-color: transparent;
  color: currentColor;

  @include link-hover {
    background-color: #054e15;
    color: $color-white;
  }

  @include link-active {
    background-color: #02320d;
    color: $color-white;
  }
}

@mixin button-green-light {
  background-color: $color-green-light;
  color: $color-gray;

  @include link-hover {
    background-color: #9fc0a7;
  }

  @include link-active {
    background-color: #7a9e82;
  }
}

@mixin button-white {
  background-color: $color-white;
  color: $color-green;

  @include link-hover {
    background-color: $color-beige-lighter;
  }

  @include link-active {
    background-color: $color-beige;
  }
}
