///* ========================================================================
//   #HEIGHT
//   ======================================================================== */

// stylelint-disable-next-line
@mixin height-100vh($mobile: true, $offset: 0px) {
  height: calc(100vh - #{$header-height-small});

  @supports (--custom:property) {
    height: calc(var(--full-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});

    @if $mobile {
      @at-root html.is-mobile & {
        height: calc(var(--initial-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});
      }
    }
  }

  @include bp(large) {
    & {
      height: calc(100vh - #{$header-height-large});

      @supports (--custom:property) {
        height: calc(var(--full-height) - #{$header-height-large} - var(--admin-bar-height) - #{$offset});

        @if $mobile {
          // stylelint-disable-next-line
          @at-root html.is-mobile & {
            height: calc(var(--initial-height) - #{$header-height-large} - var(--admin-bar-height) - #{$offset});
          }
        }
      }
    }
  }
}

// stylelint-disable-next-line
@mixin min-height-100vh($mobile: true, $offset: 0px) {
  min-height: calc(100vh - #{$header-height-small});

  @supports (--custom:property) {
    min-height: calc(var(--full-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});

    @if $mobile {
      @at-root html.is-mobile & {
        min-height: calc(var(--initial-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});
      }
    }
  }

  @include bp(large) {
    & {
      min-height: calc(100vh - #{$header-height-large});

      @supports (--custom:property) {
        min-height: calc(var(--full-height) - #{$header-height-large} - var(--admin-bar-height) - #{$offset});

        @if $mobile {
          // stylelint-disable-next-line
          @at-root html.is-mobile & {
            min-height: calc(var(--initial-height) - #{$header-height-large} - var(--admin-bar-height) - #{$offset});
          }
        }
      }
    }
  }
}

// stylelint-disable-next-line
@mixin max-height-100vh($mobile: true, $offset: 0px) {
  max-height: calc(100vh - #{$header-height-small});

  @supports (--custom:property) {
    max-height: calc(var(--full-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});

    @if $mobile {
      @at-root html.is-mobile & {
        max-height: calc(var(--initial-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});
      }
    }
  }

  @include bp(large) {
    & {
      max-height: calc(100vh - #{$header-height-large});

      @supports (--custom:property) {
        max-height: calc(var(--full-height) - #{$header-height-large} - var(--admin-bar-height) - #{$offset});

        @if $mobile {
          // stylelint-disable-next-line
          @at-root html.is-mobile & {
            max-height: calc(var(--initial-height) - #{$header-height-small} - var(--admin-bar-height) - #{$offset});
          }
        }
      }
    }
  }
}
