///* ========================================================================
//   #LINK
//   ======================================================================== */

@mixin h1 {
  font-size: 24px;
  line-height: (32/24);

  @include bp(medium) {
    & {
      font-size: 45px;
      line-height: (54/45);
    }
  }
}

@mixin h2 {
  font-size: 20px;
  line-height: (30/20);

  @include bp(medium) {
    & {
      font-size: 35px;
      line-height: (40/35);
    }
  }
}

@mixin h3 {
  font-size: 18px;
  line-height: (20/18);

  @include bp(medium) {
    & {
      font-size: 22px;
      line-height: (31/22);
    }
  }

  @include bp(large) {
    & {
      font-size: 30px;
      line-height: (36/30);
    }
  }
}

@mixin h4 {
  font-size: 18px;
  line-height: (22/18);

  @include bp(medium) {
    & {
      font-size: 26px;
      line-height: (32/26);
    }
  }
}

@mixin h5 {
  font-size: 16px;
  line-height: (20/16);

  @include bp(medium) {
    & {
      font-size: 22px;
      line-height: (22/18);
    }
  }
}

@mixin h6 {
  font-size: 14px;
  line-height: (20/14);

  @include bp(medium) {
    & {
      font-size: 20px;
      line-height: (26/20);
    }
  }
}

@mixin fsz-default {
  font-size: 14px;
  line-height: (22/14);

  @include bp(medium) {
    & {
      font-size: 16px;
      line-height: (24/16);
    }
  }
}

@mixin fsz-quote {
  font-size: 22px;
  line-height: (35/22);

  @include bp(medium) {
    & {
      font-size: 31px;
      line-height: (41/31);
    }
  }
}

@mixin fsz-stats {
  font-size: 85px;
  line-height: (102/85);

  @include bp(large) {
    & {
      font-size: 100px;
      line-height: (120/100);
    }
  }
}
