///* ========================================================================
//   #BREAKPOINTS
//   ======================================================================== */

@mixin wrapper($width: $wrapper-width) {
  width: calc(100% - 40px);
  margin-right: auto;
  margin-left: auto;
  max-width: $width;

  @include bp(medium) {
    & {
      width: calc(100% - 110px);
    }
  }
}

@mixin wrapper-padding($width: $wrapper-width) {
  padding-left: 20px;
  padding-right: 20px;

  @include bp(medium) {
    & {
      padding-left: 55px;
      padding-right: 55px;
    }
  }

  @include bp($width + 110px) {
    & {
      padding-right: calc(50% - #{$width / 2});
      padding-left: calc(50% - #{$width / 2});
    }
  }
}

@mixin anti-wrapper($width: $wrapper-width) {
  margin-left: -20px;
  margin-right: -20px;

  @include bp(medium) {
    margin-left: -55px;
    margin-right: -55px;
  }

  @include bp($width + 110px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
