/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  padding-top: $header-height-small;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);

  @supports (--custom:property) {
    min-height: calc(var(--full-height) - var(--admin-bar-height));
  }
}

@include bp(large) {
  body {
    padding-top: $header-height-large;
  }
}

