///* ========================================================================
//   #GUTENBERG EDITOR STYLES
//   ======================================================================== */

.has-h-1-font-size {
  @include h1;
}

.has-h-2-font-size {
  @include h2;
}

.has-h-3-font-size {
  @include h3;
}

.has-h-4-font-size {
  @include h4;
}

.has-h-5-font-size {
  @include h5;
}

.has-h-6-font-size {
  @include h6;
}

.has-green-color {
  color: $color-green;
}

.has-yellow-color {
  color: $color-yellow;
}

.has-white-color {
  color: $color-white;
}

.has-black-color {
  color: $color-black;
}

.has-gray-color {
  color: $color-gray;
}

.has-green-background-color {
  background-color: $color-green;
}

.has-yellow-background-color {
  background-color: $color-yellow;
}

.has-white-background-color {
  background-color: $color-white;
}

.has-black-background-color {
  background-color: $color-black;
}

.has-gray-background-color {
  background-color: $color-gray;
}

.has-beige-lighter-background-color {
  background-color: $color-beige-lighter;
}

.is-style-nowrap {
  white-space: nowrap;
}

.wp-block-separator.wp-block-separator.wp-block-separator.wp-block-separator {
  border-bottom-width: 1px;
  max-width: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-separator {
  color: rgba(#979797, 0.5);
  border-bottom: 1px solid currentColor;
}

.wp-block-quote {
  font-weight: 300;
  font-size: 22px;
  line-height: (35/22);
  font-family: $font-serif;
  color: $color-green-lighter;
  margin-top: 1.5 * (34/20) + rem;
  margin-bottom: 1.5 * (34/20) + rem;
  padding: 0 16px;
  border-left: 1px solid currentColor;
  font-style: normal;
}

.wp-block-quote p:last-of-type {
  margin-bottom: 0;
}

.wp-block-image figcaption {
  text-align: left;
  color: $color-gray-lighter;
  margin-top: 0.5em;
  font-size: 12px;
}

.wp-block-button__link {
  @extend .o-btn--letter-spacing;
  text-transform: uppercase;
  font-size: 16px;
  padding: (15/16) + em 1.5em (12/16) + em;
  line-height: 1;
  transition: color $transition-fast-in ease, background-color $transition-fast-in ease, border-color $transition-fast-in ease;
}

.wp-block-button__link.has-green-background-color {
  @include link-hover {
    background-color: #054e15;
  }

  @include link-active {
    background-color: #02320d;
  }
}

.wp-block-button__link.has-yellow-background-color {
  @include link-hover {
    background-color: #e1c207;
  }

  @include link-active {
    background-color: #c4a803;
  }
}

@include bp(medium) {
  .wp-block-quote {
    font-size: 31px;
    line-height: (41/31);
    padding: 8px 0 8px 40px;
  }

  .wp-block-image figcaption {
    font-size: 15px;
  }
}

@include bp(large) {
  .wp-block-quote {
    margin-left: 40px;
    margin-top: 2 * (34/20) + rem;
    margin-bottom: 2 * (34/20) + rem;
  }
}

@include bp(xlarge) {

}

@include bp(full) {

}
