///* ========================================================================
//   #GUTENBERG EDITOR STYLES
//   ======================================================================== */

body {
  font-family: $font-sans-serif;
  font-size: 14px;
  line-height: (18/14);
}

p, ul {
  margin-top: 0;
}

.wp-block {
  max-width: $wrapper-narrow-width;
}

.wp-block[data-align='wide'] {
  max-width: $wrapper-width;
}

.is-reusable .components-disabled .block-list-appender {
  display: none;
}

.is-reusable,
.wp-block[data-align='full'] {
  max-width: none;
}

.wp-block .wp-block {
  max-width: none;
}

.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-buttons .block-editor-block-list__block {
  margin-bottom: 0;
}

.o-btn {
  cursor: default;
}

.wp-block-column.is-vertically-aligned-top,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-start;
}

.wp-block-paragraph a {
  @include link-generic;
}

.o-play-button {
  pointer-events: none;
}

[data-type="core/separator"] {
  margin-top: -$block-margin;
  margin-bottom: -$block-margin;
  position: relative;
  z-index: 1;
}

[data-type="core/separator"] .is-block-content {
  padding: $block-margin 0;
}

.wp-block-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="core/column"]>.block-core-columns>.block-editor-inner-blocks {
  margin-top: 0;
  margin-bottom: 0;
}

@include bp(medium) {
  body {
    font-size: 16px;
    line-height: (22/16);
  }
}
