///* ========================================================================
//   #WORDPRESS
//   ======================================================================== */

.o-content > :not(.alignfull):not(.alignwide) {
  @include wrapper($wrapper-narrow-width);
}

.o-content > .alignwide {
  @include wrapper($wrapper-width);
}

.has-hide-on-small {
  @extend .u-hide-on-small;
}

.has-hide-on-medium {
  @extend .u-hide-on-medium;
}

.has-hide-on-xlarge {
  @extend .u-hide-on-xlarge;
}
