///* ========================================================================
//   #JS SLIDESHOW
//   ======================================================================== */

.js-slideshow-items {
  position: relative;
  overflow: hidden;
}

.js-slideshow-items > * {
  transition: visibility $transition-slow-out ease, opacity $transition-slow-out ease;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.js-slideshow-items:not(.is-initialized) > *:first-child,
.js-slideshow-items > .is-active {
  transition-duration: $transition-slow-in, $transition-slow-in;
  visibility: visible;
  opacity: 1;
  position: relative;
  pointer-events: auto;
  z-index: 1;
}
