///* ========================================================================
//   #JS SLIDESHOW
//   ======================================================================== */

.js-video-container {
  position: relative;
}

.js-video-container:before {
  display: block;
  content: '';
  padding-top: (9/16) * 100%;
}

.js-video-embed,
.js-video-embed iframe,
.js-video-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.js-video-embed {
  transition: opacity $transition-slow-out ease, visibility $transition-slow-out ease;
  opacity: 0;
  visibility: hidden;
}

.js-video-button,
.js-video-cover {
  transition: opacity $transition-slow-out ease, visibility $transition-slow-out ease;
}

.js-video-container.is-active .js-video-button,
.js-video-container.is-active .js-video-cover {
  opacity: 0;
  visibility: hidden;
  transition-duration: $transition-fast-in, $transition-slow-in;
}

.js-video-container.is-active .js-video-embed {
  opacity: 1;
  visibility: visible;
  transition-duration: $transition-fast-in, $transition-slow-in;
}
